* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(141deg, #4e77c4, #2e5295 9%, #f24b52);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-grow: 1;
}

.container-pay {
	width: 90%;
	max-width: 300px;
	max-height: 700px;
}

.header {
	background-color: rgb(237, 237, 240);
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: : 5px;
}

.digiroin-logo-bill {
	display: block;
	margin: 0 auto;
	height: 90px;
	padding: 10px 0;
}

.content {
	background-color: rgb(243, 243, 245);
	overflow: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.title-sign {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 28px;
	color: black;
	text-align: center;
	margin-top: 8px;
}

.info {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	text-align: center;
	margin: 20px 0 5px 0;
}

.input {
	display: block;
	width: 200px;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #d2d2d3;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.input::placeholder {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-align: center;
}

.button-regis {
	width: 200px;
	display: block;
	background-color: #5c8adf;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: white;
	cursor: pointer;
	font-size: 12px;
	margin: 20px auto 30px auto;
}

.button-pay2 {

}