<template>
	<div class="container">
		<div class="header">
			<div class="img-container">
				<img class="logo" v-bind:src="imagePath">
			</div>
			<p class="text">Harga {{ title }} emas per gram</p>
			<p class="price">Rp. {{ hargaAwal }}</p>
		</div>
		<div class="content">
			<input type="range" min="0" max="100" class="slider" step="0.01" v-model="sliderVal">
			<div>
				<input type="text" class="input" v-model="sliderVal">
				<p>gram</p>
			</div>
		</div>
		<p class="total">Total Harga: <span class="total-price">Rp. {{ totalHarga }}</span></p>
		<slot name="button"></slot>
	</div>
</template>

<script>
export default {
	props: ['title', 'price', 'image'],
	data: function() {
		return {
			sliderVal: 0.01
		}
	},

	computed: {
		imagePath: function() {
			return require('../assets/' + this.image + '.png');
		},

		totalHarga: function() {
			return Math.round(this.sliderVal * this.price).toLocaleString('en-EN');
		},

		hargaAwal: function() {
			return this.price.toLocaleString('en-EN');
		}
	}
}
</script>

<style scoped>
p {
	color: #4e4e4e;
	font-size: 14px;
}

.container {
	width: 90%;
	max-width: 350px;
	margin: 0 auto;
	background-color: #fff;
	padding: 12px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.img-container {
	text-align: center;
	width: 50px;
	flex-shrink: 0;
}

.logo {
	height: 30px;
	align-self: center;
	flex-shrink: 0;
}

.text {
	padding: 0 8px;
	text-align: left;
	font-size: 14px;
}

.price {
	font-weight: 700;
	color: #e81f1f;
	flex-shrink: 0;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
}

.slider {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	width: 100%;
	margin-right: 10px;
	height: 5px;
	border-radius: 5px;
	background-color: #cccccc;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffc600;
	cursor: pointer;
}

.input {
	width: 40px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #bbb;
	padding: 2px;
	text-align: center;
}

.total {
	text-align: center;
}

.total-price {
	font-weight: 700;
}
</style>