<template>
	<button class="trx-btn">{{ text }}</button>
</template>

<script>
export default {
	props: ['text'],
}
</script>


<style>
.trx-btn {
	display: block;
	margin: 10px auto 0 auto;
	outline: 0;
	border: 0;
	border-radius: 5px;
	padding: 8px 16px;
	color: white;
	background-color: #7e00be;
}
</style>