* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	max-width: 1920px;
	height: 100vh;
	background-color: #15161d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header .logo {
	width: 150px;
	display: block;
	margin: 0 auto;
}

.header .title {
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	margin-top: 15px;
}

.box {
	width: 300px;
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0 3px 12px 0 rgba(255, 255, 255, 0.37);
	margin: 30px auto 100px auto;
	box-sizing: border-box;
	padding: 20px;
}

.title-box {
	font-family: "Montserrat", sans-serif;
	color: #15161d;
	font-weight: 600;
	margin-bottom: 8px;
}

.input-box {
	display: block;
	width: 100%;
	background-color: #f2f2f2;
	transition: 0.2s ease;
	outline: 0;
	border: 0;
	box-sizing: border-box;
	padding: 8px 16px;
	font-family: "Montserrat", sans-serif;
	border-radius: 6px;
	margin-bottom: 16px;
}

.input-box::placeholder {
	color: #9b9b9b;
	font-style: italic;
	opacity: 1; /* Firefox */
}

.input-box:focus {
	background-color: #2689ff;
	color: white;
}

.input-box:focus::placeholder {
	color: white;
}

.login-btn {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	background-color: #22ce8b;
	border: 0;
	outline: 0;
	color: white;
	cursor: pointer;
	margin: 0 auto;
	transition: 0.2s ease;
}

.login-btn:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-btn:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-link {
	text-decoration: none;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;

}

.footer-link.turnoff {
	margin-left: 35px;
}

.footer-link.createacc {
	margin-right: 35px;
}