* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
}

.f-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.f-light {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.container {
	background-color: #0e0d1a;
	box-sizing: border-box;
	padding: 16px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.line {
	display: block;
	height: 3px;
	width: 25px;
	background-color: white;
	margin-bottom: 4px;
}

.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.user-name {
	color: white;
	font-size: 18px;
}

.user-picture {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #d7d7d7;
	margin-left: 10px;
}

.logo {
	margin-top: 15px;
}

.main-logo {
	display: block;
	margin: auto;
	width: 80px;
}

.title-name {
	text-align: center;
	color: white;
	font-size: 20px;
}

.search-box {
	background-color: #21222f;
	box-sizing: border-box;
	padding: 10px 20px;
	margin-top: 15px;
}

.search-input {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 12px;
}

.highlight-box {
	margin-top: 10px;
	background-color: #21222f;
	box-sizing: border-box;
	padding: 10px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.box {
	background-color: rgb(94, 94, 102);
	width: auto;
	height: 60px;
	flex-grow: 1;
	margin: 0 2px;
}

.bottom-section {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	
	flex-grow: 1;
	justify-content: space-between;
}

.category-box {
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #21222f;
}

.cat-box {
	box-sizing: border-box;
	width: 23%;
	height: 65px;
	margin: 2px;
	background-color: rgb(94, 94, 102);
	flex-grow: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cat-logo {
	height: 25px;
	margin-top: 6px;
}

.cat-text {
	color: white;
	font-size: 8px;
	margin-top: 6px;
	text-align: center;
}

.footer {
	margin-top: 10px;
}

.footer-text {
	text-align: center;
	color: white;
	font-size: 10px;
	margin-bottom: 4px;
}

.digiroin-logo {
	display: block;
	margin: 0 auto;
	width: 100px;
}