* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(141deg, #4e77c4, #2e5295 9%, #f24b52);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-grow: 1;
}

.description {
	font-family: "Nunito", sans-serif;
	color: white;
	text-align: center;
}

.description h1 {
	font-weight: 600;
	font-size: 38px;
}

.description p {
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 10px;
}

.show-btn {
	font-family: "Nunito", sans-serif;
	color: white;
	font-weight: 300;
	padding: 12px 22px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.3s ease;
}

.description button:hover {
	color: black;
	background-color: white;
}

.container-pay {
	width: 90%;
	max-width: 300px;
	max-height: 700px;
}

.header {
	background-color: rgb(237, 237, 240);
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: : 5px;
	padding: 16px 8px;
}

.merchant-name {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
}

.button-pay {
	width: 200px;
	display: block;
	background-color: #5c8adf;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px auto 0 auto;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

.content {
	/*height: 350px;*/
	background-color: rgb(243, 243, 245);
	overflow: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.info {
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
}

.qr-code {
	display: block;
	margin: 10px auto 0 auto;
}

.line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 10px 0;
}

.rule {
	width: 100%;
}

.or {
	padding: 0 10px;
	font-size: 18px;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	text-align: center;
}

.transfer-text {
	font-family: "Nunito", sans-serif;
	font-weight: 500;
	color: black;
	text-align: center;
	font-size: 18px;
}

.transfer-info {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	color: black;
	text-align: center;
	font-size: 18px;
	background-color: #ddd;
	box-sizing: border-box;
	padding: 8px;
}

.footer {
	margin: 10px 0 5px 0;
}

.footer-text {
	text-align: center;
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.digiroin-logo {
	display: block;
	margin: 0 auto;
	height: 20px;
}