* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-color: #f0f0f0;
	max-width: 1920px;
}

.f-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.f-light {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

.header {
	position: relative;
}

.head-section {
	width: 100%;
	height: 65px;
	background-color: white;
	box-sizing: border-box;
	padding: 10px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.head-section .logo {
	height: 100%;
}

.head-section .web-name {
	font-size: 14px;
	margin-left: 10px;
}

.head-section .location {
	margin: 0 auto;
	font-size: 14px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

.head-section .profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	transition: 0.2s ease;
	cursor: pointer;
}

.head-section .profile:hover {
	background-color: #f2f2f2;
}

.head-section .profile.profile-active {
	color: white;
	background-color: #2689ff;
}

.head-section .name {
	font-size: 14px;
}

.head-section	.photo {
	display: block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	box-shadow: 0 0 5px black;
	margin-left: 10px;
}

.tabs {
	height: 45px;
	border: solid 1px rgba(151, 151, 151, 0.2);
	background-color: white;
	box-sizing: border-box;
	padding: 5px 15px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.tabs .tab {
	width: 180px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.tabs .highlight {
	display: block;
	background-color: #22ce8b;
	width: 100%;
	height: 8px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	z-index: 1;
}

.tabs .hl-report, .tab .hl-cashoutreport {
	display: none;
}

.back {
	display: none;
	width: 100%;
	height: 35px;
	background-color: #ffffff;
	border: solid 1px rgba(151, 151, 151, 0.27);
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-sizing: border-box;
	position: absolute;
}

.back-text {
	display: inline-block;
	height: 100%;
	line-height: 35px;
	margin-left: 15px;
	cursor: pointer;
}

.profile-popup {
	display: none;
	position: absolute;
	right: 20px;
	top: 60px;
	width: 300px;
	z-index: 2;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.profile-popup .profile-link {
	display: block;
	text-decoration: none;
	background-color: white;
	color: black;
	height: 50px;
	line-height: 50px;
	text-indent: 12px;
	transition: 0.2s ease;
}

.profile-popup .profile-link:hover {
	background-color: #f2f2f2;
}

.content {
	overflow: auto;
	width: 100%;
	padding-top: 35px;
}

.chart-container {
	display: flex;
	justify-content: center;
}

#barChart {
	background-color: white;
	height: 250px;
	width: 50%;
	max-width: 600px;
	padding: 12px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	border-radius: 10px;
	flex-shrink: 0;
	margin: 0 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pieChart {
	background-color: white;
	height: 250px;
	width: 250px;
	padding: 12px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	border-radius: 10px;
	flex-shrink: 0;
	margin: 0 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cash-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cash-container .cash-box {
	width: 300px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: white;
	padding-left: 70px;
	position: relative;
	margin-top: 60px;
	margin-left: 60px;
	margin-bottom: 15px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	display: flex;
	flex-direction: row;
	align-items: center;
	flex-shrink: 0;
}

.cash-container .cb-cashin .cash-icon {
	background-color: #ef4836;
}

.cash-container .cb-cashout .cash-icon {
	background-color: #5758bb;
}

.cash-container .cb-reporting .cash-icon {
	background-color: #1289a7;
}

.cash-container .cb-service .cash-icon {
	background-color: #b53471;
}

.cash-container .cash-icon {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	text-align: center;
	line-height: 80px;
	font-size: 12px;
	position: absolute;
	left: -20px;
	color: white;
}

.cash-transaction	{
	display: none;
}

.transaction-box {
	box-sizing: border-box;
	padding: 20px;
	width: 300px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	margin: 50px auto 0 auto;
}

.tb-cashin2, .tb-cashin3 {
	display: none;
}

.tb-cashout2, .tb-cashout3 {
	display: none;
}

.transaction-box .transaction-text {
	margin-bottom: 8px;
}

.transaction-box .transaction-input {
	display: block;
	width: 100%;
	background-color: #f2f2f2;
	transition: 0.2s ease;
	outline: 0;
	border: 0;
	box-sizing: border-box;
	padding: 8px 16px;
	border-radius: 6px;
	margin-bottom: 16px;
}

.transaction-box .transaction-input::placeholder {
	color: #9b9b9b;
	font-style: italic;
	opacity: 1; /* Firefox */
}

.transaction-box .transaction-input:focus {
	background-color: #2689ff;
	color: white;
}

.transaction-box .transaction-input:focus::placeholder {
	color: white;
}

.transaction-box .transaction-warning {
	text-align: center;
	color: #d0021b;
	font-size: 12px;
	margin-bottom: 16px;
}

.transaction-box .transaction-button {
	display: block;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	background-color: #22ce8b;
	border: 0;
	outline: 0;
	color: white;
	cursor: pointer;
	margin: 0 auto;
	transition: 0.2s ease;
}

.transaction-box .transaction-button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transaction-box .transaction-button:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transaction-box .transaction-info {
	font-size: 14px;
	text-align: center;
	margin-bottom: 16px;
}

.transaction-box .transaction-underline {
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #d8d8d8;
	text-align: right;
	margin-bottom: 16px;
}

.transaction-box .transaction-proof  {
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 16px;
	margin-bottom: 8px;
}

.transaction-box .transaction-proof-small {
	font-size: 14px;
}

.transaction-box .transaction-proof-left {
	display: inline-block;
	width: 100px;
	font-size: 14px;
}

.transaction-box .transaction-proof-dot {
	display: inline-block;
	padding-right: 10px;
	font-size: 14px;
}

.transaction-box .transaction-proof-right {
	display: inline-block;
	font-size: 14px;
}

.transaction-box .transaction-proof-total {
	text-align: right;
	padding: 10px 0;
	border-bottom: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	margin-top: 25px;
	font-size: 20px;
}

.transaction-progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}

.transaction-progress .progress-box {
	display: block;
	width: 100px;
	height: 30px;
	background-color: white;
	line-height: 30px;
	text-align: center;
	color: black;
	font-weight: 500;
	transition: 0.2s ease;
}

.transaction-progress .progress-box-active {
	background-color: #2689ff;
	color: white;
}

.transaction-progress .progress-box-done {
	background-color: #22ce8b;
	color: white;
}

.transaction-progress .arrow-right {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	margin: 0 6px 0 4px;
}

.report {
	display: none;
	width: 900px;
	margin: 50px auto 0 auto;
}

.report-table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.report-table th {
	padding: 12px 10px;
	text-align: left;
	background-color: #9b9b9b;
	font-size: 16px;
}

.report-table td {
	padding: 15px 10px;
	font-size: 14px;
}

.report-table tr:nth-child(odd) {
	background-color: white;
}

.report-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.report-pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.report-pagination a {
	display: block;
	padding: 10px;
	color: #aaa;
	text-decoration: none;
}