<template>
	<div class="item" v-bind:style="{backgroundColor: color}">
		<img v-bind:src="imagePath" class="logo">
		<p class="text">{{ name }}</p>
	</div>
</template>

<script>
	export default {
		props: ['image', 'name', 'color'],
		computed: {
			imagePath: function() {
				return require('../assets/icon/' + this.image);
			}
		}
	}
</script>

<style scoped>
.item {
	width: 90px;
	height: 90px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.logo {
	display: block;
	margin: 0 auto 4px auto;
	height: 50%;
}

.text {
	text-align: center;
	color: white;
	font-size: 14px;
	line-height: 14px;
}
</style>