<template>
	<div class="container">
		<div class="header">
			<img v-on:click="back()" class="back" src="../assets/icon/back.png">
			<h1>Tiket Pesawat</h1>
		</div>
		<div class="content">
			<p>Origin</p>
			<select>
				<option disabled selected>Select Place</option>
				<option v-for="place in places">{{ place }}</option>
			</select>
			<hr class="line">
			<p>Destination</p>
			<select>
				<option disabled selected>Select Place</option>
				<option v-for="place in places">{{ place }}</option>
			</select>
			<hr class="line">
			<p>Departure Date</p>
			<input type="date" class="date">
			<hr class="line">
			<p>Passenger</p>
			<select>
				<option v-for="x in 10">{{ x }}</option>
			</select>
			<hr class="line">
			<p>Seat Class</p>
			<select>
				<option v-for="seat in seats">{{ seat }}</option>
			</select>
			<hr class="line">
			<button>Search</button>
		</div>
	</div>
</template>

<script>
	export default {
		data: function() {
			return {
				places: ['Jakarta', 'Bali', 'Semarang', 'Surabaya'],
				seats: ['Economy', 'Business', 'First Class', 'Premium Economy']
			}
		},

		methods: {
			back() {
				this.$emit('backToLanding');
			}
		}
	}
</script>

<style scoped>
	.container {
		overflow-y: auto;
	}

	.header {
		width: 100%;
		position: fixed;
		height: 60px;
		background-color: #b33771;
	}

	.header .back {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		width: 24px;
	}

	.header h1 {
		text-align: center;
		font-size: 24px;
		color: white;
		line-height: 60px;
	}

	.content {
		width: 90%;
		margin: 70px auto 10px auto;
		padding: 16px;
		border-radius: 10px;
		background-color: white;
	}

	.content p {
		padding-bottom: 2px;
		padding-left: 3px;
	}

	.content select {
		padding: 8px 0;
		margin-bottom: 6px;
		outline: 0;
		border: 0;
	}

	.content .date {
		outline: 0;
		border: 0;
		margin-left: 3px;
		font-family: "Nunito", sans-serif;
		margin-bottom: 14px;
	}

	.line {
		border-top: 2px solid #ddd;
		margin-bottom: 20px;
	}

	.content button {
		width: 100%;
		border-radius: 5px;
		color: white;
		font-family: "Nunito", sans-serif;
		outline: 0;
		border: 0;
		background-color: #b33771;
		padding: 12px 0;
	}
</style>