* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(249, 249, 249);
	font-family: "Nunito", sans-serif;
	padding: 5% 10%;
}

.title {
	color: rgb(157, 158, 162);
}

.button {
	color: white;
	background-color: rgb(0, 225, 115);
	outline: 0;
	border: 0;
	border-radius: 5px;
	padding: 16px 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.apps-container {
	display: flex;
	flex-wrap: wrap;
}

.app {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 20px;
	background-color: white;
	border-radius: 5px;
}

.app h1 {
	text-align: center;
	font-size: 18px;
	color: rgb(101, 101, 101);
	margin-bottom: 30px;
}

.info {
	width: 260px;
	color: #8b919a;
	display: flex;
	justify-content: space-between;
}

.progress {
	width: 300px;
	height: 10px;
	background-color: #eee;
	margin-bottom: 10px;
}

.progress-bar {
	display: block;
	width: 10%;
	height: 100%;
	background-color: #4e88ff;
}

.bold {
	font-weight: 700;
}