* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0 auto;
	max-width: 960px;
	font-family: "Lato", sans-serif;
	color: #555;
}

h1 {
	color: #333;
	font-weight: 600;
}

input, button {
	font-family: "Lato", sans-serif;
	font-weight: 600;
}

.welcome-screen {
	height: 100%;
	background-color: rgb(255, 226, 0);
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#animation {
	width: 120px;
}

.logo-chat {
	width: 100px;
}

.welcome-screen .new-message-box {
	margin: 0 0 25px 0;
}

.list-user {
	height: 100%;
	display: none;
	flex-direction: column;
}

.list-header {
	background-color: #10929d;
	position: relative;
}

.list-message-container {
	overflow: auto;
	flex-grow: 1;
	-webkit-overflow-scrolling: touch; /* Scrolling inside Div */
}

.list-header h1 {
	text-align: center;
	padding: 15px 0;
	color: white;
	font-size: 24px;
}

.list-message {
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.avatar-big {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
	align-self: flex-start;
}

.avatar-img {
	width: 100%;
	height: 100%;
}

.user-info {
	flex-grow: 1;
	margin-left: 10px;
}

.user-info h1 {
	font-size: 20px;
}

.user-info p {
	font-size: 14px;
}

.last-message {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 70vw;
}

.user-name-notif {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.unread {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #10929d;
	text-align: center;
	line-height: 20px;
	color: white;
}

.modal-new-message {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.new-message-box {
	margin: 75px auto 0 auto;
	width: 70%;
	max-width: 400px;
	border-radius: 10px;
	padding: 16px;
	background-color: white;
}

.input-new-msg {
	display: block;
	width: 100%;
	border-radius: 25px;
	padding: 12px;
	border: 1px solid #333;
	outline: 0;
	margin-bottom: 10px;
}

#loading-image {
	display: none;
	margin: 0 auto;
}

.username-list {
	list-style-type: none;
	background-color: #ecf0f1;
	border-radius: 5px;
	margin-bottom: 10px;
}

.username-list li {
	margin-left: 10px;
	padding: 8px;
}

.warning-error {
	display: none;
	font-size: 12px;
	color: red;
	text-align: center;
}

.ok-new-msg {
	display: block;
	width: 100%;
	border-radius: 25px;
	padding: 12px;
	outline: 0;
	border: 0;
	background-color: rgb(26, 202, 146);
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
	margin-top: 10px;
}

.message-container {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
}

.image-modal-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-money-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-money {
	width: 80%;
	max-width: 450px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.input-money {
	display: block;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #333;
	outline: 0;
}

.button-money-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-money-title {
	text-align: center;
	font-size: 26px;
	margin-bottom: 10px;
}

.button-money {
	outline: 0;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #4c4949;
	padding: 8px;
	margin: 10px 4px;
}

.close-modal-btn {
	background-color: #10929d;
	text-align: center;
	color: white;
	padding: 16px;
	display: block !important;
	position: absolute;
	top: 0;
	right: 0;
}

.message-header {
	background-color: #f9f9f9;
	overflow: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid rgb(187, 187, 187);
	flex-shrink: 0;
}

.user-head {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.user-head h1 {
	font-size: 20px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.avatar-small {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50px;
	background-color: grey;
	margin: 10px 0;
	overflow: hidden;
}

.message-header .back-button {
	font-size: 28px;
	margin-left: 15px;
}

.button-coin-money {
	width: 35px;
	padding: 6px;
	position: absolute;
	right: 15px;
	height: 35px;
	border-radius: 5px;
	background-color: #aaa;
}

.img-coin-money {
	width: 100%;
}

.message-content-container {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; /* Scrolling inside Div */
}

.message-box {
	padding: 10px;
	display: flex;
}

.message-box.from-friend {
	justify-content: flex-start;
}

.message-box.from-me {
	justify-content: flex-end;
}

.message-chat {
	min-width: 50px;
	max-width: 350px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.message-image {
	max-width: 200px;
}

.message-text {
	overflow-wrap: break-word;
}

.message-chat.from-friend {
	background-color: #e5e6ea;
	color: #000;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.message-chat.from-me {
	background-color: #14b6c4;
	color: #fff;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.message-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	flex-shrink: 0;
}

.message-input {
	border: 1px solid #c9c9cb;
	flex-grow: 1;
	min-height: 20px;
	max-height: 80px;
	overflow: auto;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 4px 12px;
	outline: 0;
	color: #333;
}







/******** ICON CSS ********/
.back-button {
	border: solid #858e98;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(135deg);
	margin-left: 30px;
	position: relative;
	z-index: 2;
}

.send-button, .upload-button {
	border-radius: 50%;
	width: 26px;
	height: 26px;
	margin: 2px;
	border: 2px solid;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-style: normal;
	color: #858e98;
	text-align: left;
	text-indent: -9999px;
	margin: 0 8px;
	flex-shrink: 0;
}

.send-button::before, .send-button::after, .upload-button::before, .upload-button::after {
	width: 8px;
	right: 8px;
	content: '';
	pointer-events: none;
	height: 2px;
	position: absolute;
	bottom: 0;
	margin: auto 0;
	box-shadow: inset 0 0 0 32px;
	transform-origin: right;
}

.send-button::before, .upload-button::before {
	top: 2px;
	transform: rotate(45deg);
}

.send-button::after, .upload-button::after {
	top: 0;
	transform: rotate(-45deg);
}

.upload-button {
	transform: rotate(-90deg) !important;
}

.message-button {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 2px;
	border: 0px solid;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	font-style: normal;
	color: white;
	background-color: #fe66c3;

	position: absolute;
	bottom: -20px;
	right: 5%;
	z-index: 3;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.message-button::before {
	width: 14px;
	content: '';
	pointer-events: none;
	height: 2px;
	box-shadow: inset 0 0 0 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: 0.3s ease;
}

.message-button::after {
	height: 14px;
	content: '';
	pointer-events: none;
	width: 2px;
	box-shadow: inset 0 0 0 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: 0.3s ease;
}

.message-button.btn-active::before, .message-button.btn-active::after {
	transform: translate(-50%,-50%) rotate(45deg);
}

@media screen and (orientation:portrait) {
	.image-modal-content {
		width: 100%;
		height: auto;
	}
}
@media screen and (orientation:landscape) {
	.image-modal-content {
		width: auto;
		height: 100%;
	}
}