* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 500px;
	background-color: rgb(245, 234, 214);
	font-family: "Nunito", sans-serif;
}

.label {
	display: block;
	text-align: center;
	margin: 20px 0 40px 0;
}

.btn {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #15B358;
	-webkit-tap-highlight-color: transparent;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.btn.btn-create {
	display: block;
	margin: 0 auto;
	width: 200px;
	text-align: center;
	background-color: #e67e22;
	box-shadow: 0px 5px 0px 0px #CD6509;
}

.btn.btn-create:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.input {
	display: none;
}

.img-container {
	white-space: nowrap;
	width: 100%;
	overflow-x: auto;
}

.img-content {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: white;
	margin: 10px 5px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	overflow: hidden;
	position: relative;
}

.img {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.result {
	width: 90%;
	margin: 20px auto;
}

.result img {
	width: 100%;
}