* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: rgb(67, 67, 67);
}

.body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

h1, p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 60%;
	max-width: 250px;
	padding: 10px 0 15px 0;
}

.columns {
	display: flex;
	flex-direction: row;
}

.column {
	width: 25%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.column.menu {
	padding: 5px 0;
}

.is-active {
	color: white !important;
}

.column i {
	color: rgb(153, 153, 153);
	font-size: 1.2em;
	padding-bottom: 5px;
}

.column p {
	color: rgb(153, 153, 153);
	font-size: 14px;
}

.columns.status, .section.promo-section {
	flex-shrink: 0;
}

.top-section {
	padding: 8px 0;
}

.top-section.column {
	/*border-left: 1px solid rgb(153, 153, 153);*/
	border-right: 1px solid rgb(153, 153, 153);
	border-bottom: 1px solid rgb(153, 153, 153);
}

.top-section.column:first-child {
	/*border-left: 0;*/
}

.top-section.column:last-child {
	border-right: 0;
}

.section {
	background-color: rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding: 16px;
}

.box {
	background-color: white;
	width: 100%;
	height: 100px;
}

.promo-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-size: 1.5em;
	color: rgb(153, 153, 153);
}

.category {
	flex-grow: 1;
	overflow: auto;
}

.category .columns .column {
	padding: 20px 0;
}

.category .columns .column i {
	font-size: 1.5em;
	padding-bottom: 10px;
}