html {
	height: 100%;
	overflow-y: auto !important;
}

body {
	height: 100%;
	background-color: #ecf0f3;
	box-sizing: border-box;
	padding: 24px;
	overflow: auto;
}

select {
	padding: 8px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	margin-right: 10px;
}

.find-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
}