* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	font-family: "Nunito", sans-serif;
	background-color: #b8e994;
}

.label {
	display: block;
	text-align: center;
	margin: 20px 0 40px 0;
}

.btn {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #15B358;
	-webkit-tap-highlight-color: transparent;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.box {
	margin: 0 auto 20px auto;
	max-width: 350px;
	background-color: white;
	padding: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
	display: none;
}

.flag {
	width:300px;
	height:200px;
	visibility: hidden;
}

.flag-element {
	width:2px;
	height:100%;
	display:inline-block;
	position:relative;
	background-size: 300px auto;
	background-repeat: no-repeat;
	-webkit-animation:	wave 0.6s ease-in-out infinite alternate;
	animation:			wave 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes wave{
	0% {	-webkit-transform:	translate3d(0,5%,0);}
	100% {	-webkit-transform:	translate3d(0,-5%,0);}
}
@keyframes wave{
	0% {	transform:	translate3d(0,5%,0);}
	100% {	transform:	translate3d(0,-5%,0);}
}