<template>
  <div id="app">
    <span class="top-line"></span>
    <div class="content">
      <p class="text">Saldo Emas Kamu</p>
      <div class="gold-container"><p class="gold">{{ saldoEmas }} gram</p></div>
      <p class="last-update">{{ lastUpdate }}</p>
      <div class="tabs">
        <p class="tab" v-bind:class="{active: showBeli}" v-on:click="tabBeli()">Beli Emas</p>
        <p class="tab" v-bind:class="{active: !showBeli}" v-on:click="tabJual()">Jual Emas</p>
      </div>
      <keep-alive>
        <emas-box v-if="showBeli" v-bind="dataBeli" key="beli">
          <trx-btn slot="button" text="Beli Emas" v-on:click.native="beliEmas()"></trx-btn>
        </emas-box>
        <emas-box v-else-if="!showBeli" v-bind="dataJual" key="jual">
          <trx-btn slot="button" text="Jual Emas" v-on:click.native="jualEmas()"></trx-btn>
        </emas-box>
      </keep-alive>
    </div>
    <img class="powered-logo" src="./assets/powered-logo.png">
  </div>
</template>

<script>
import Emas from './components/Emas.vue';
import TrxBtn from './components/TransactionButton.vue';

export default {
  components: {
    'emas-box': Emas,
    'trx-btn': TrxBtn
  },

  data: function() {
    return {
      showBeli: true,
      saldoEmas: 500,
      lastUpdate: "16 Jan'18, 15.30 WIB",
      dataBeli: {
        title: 'beli',
        price: 620000,
        image: 'gold01'
      },
      dataJual: {
        title: 'jual',
        price: 600000,
        image: 'gold02'
      }, 
    }
  },

  methods: {
    tabBeli() {
      this.showBeli = true;
    },

    tabJual() {
      this.showBeli = false;
    },

    beliEmas() {
      alert('Beli Emas!');
    },

    jualEmas() {
      alert('Jual Emas!');
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  background-color: #ededed;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.top-line {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #ffc600;
}

.text {
  text-align: center;
}

.gold-container {
  text-align: center;
  margin: 10px 0 20px 0;
}

.gold {
  margin: 0 auto;
  display: inline-block;
  background-color: #ffc600;
  padding: 6px 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.last-update {
  font-weight: bold;
  text-align: center;
}

.tabs {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.tab {
  -webkit-tap-highlight-color: transparent;
  margin-top: 20px;
  width: 50%;
  color: #8d8d8d;
  background-color: #f3f3f3;
  padding: 4px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #f7f7f7;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.tab.active {
  background-color: #ffc600;
  color: white;
}

.content {
  padding: 12px;
}

.powered-logo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
</style>