* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	/* background-color: rgb(0, 0, 173); */
	background-color: rgb(23, 69, 186);
	/* color: rgb(255, 255, 0); */
	color: rgb(226, 215, 28);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	letter-spacing: 1.5px;
	box-sizing: border-box;
	padding: 8px;
}

.welcome {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1, h2 {
	text-align: center;
	margin: 40px 0;
}

.button {
	outline: 0;
	/* border: 2px solid rgb(255, 255, 0); */
	/* color: rgb(255, 255, 0); */
	border: 2px solid rgb(226, 215, 28);
	color: rgb(226, 215, 28);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	padding: 4px 20px;
	background-color: transparent;
	font-size: 30px;
}

.menu {
	flex-direction: column;
	display: none;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row-right {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: 26px;
}

.row p {
	font-size: 26px;
	margin: 10px 0;
}

.left {
	padding: 20px 0 20px 10px;
}

.right {
	padding: 20px 10px 20px 0;
}

h1.menu-title {
	margin: 0;
}

.arrow-right {
	background: rgb(226, 215, 28);
	display: inline-block;
	height: 22px;
	position: relative;
	width: 15px;
	top: 2px;
	left: -14px;
}

.arrow-right:before {
	border-left: 11px solid rgb(226, 215, 28);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	content: "";
	height: 0;
	left: 15px;
	position: absolute;
	top: 0;
	width: 0;
}

.arrow-left {
	background: rgb(226, 215, 28);
	display: inline-block;
	height: 22px;
	position: relative;
	width: 15px;
	top: 2px;
	right: -14px;
}

.arrow-left:before {
	border-right: 11px solid rgb(226, 215, 28);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	content: "";
	height: 0;
	right: 15px;
	position: absolute;
	top: 0;
	width: 0;
}

.row.nav {
	bottom: 20px;
	left: 0;
	right: 0;
	margin-top: 10px;
}

.row.nav p {
	font-size: 18px;
	margin-bottom: 20px;
}

.row.nav .arrow-left, .row.nav .arrow-right {
	top: 4px;
}

.cashout-container {
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cashout-select {
	width: 80%;
	margin: 10px auto;
	text-align: center;
	border: 2px solid rgb(255, 255, 0);
	padding: 16px;
}

.cashout-bank-container {
	height: 100%;
	display: none;
	align-items: center;
	flex-direction: column;
}

.bank-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-section {
	display: none;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	flex-direction: column;
}

.list-section ul {
	flex-grow: 1;
	overflow: auto;
}

.back-cashout-container {
	flex-shrink: 0;
}

.cashout-gopay-container {
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cashout-title {
	font-size: 22px;
	margin: 20px 0;
}

.input-cashout {
	display: block;
	margin: 0 auto;
	width: 80%;
	outline: 0;
	background-color: transparent;
	padding: 8px 14px;
	border: 2px solid rgb(255, 255, 0);
	color: white;
	font-family: "Roboto", sans-serif;
}

.button-cashout {
	display: block;
	font-family: "Roboto", sans-serif;
	padding: 8px 16px;
	background-color: transparent;
	border: 2px solid rgb(255, 255, 0);
	color: rgb(255, 255, 0);
	margin: 20px auto;
	font-weight: 500;
}