* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.render {
	width: 50%;
}

.settings {
	width: 50%;
	display: flex;
	flex-direction: column;
}


.base-model-container, .assets-view-container {
	height: 50%;
	width: 100%;
}

.base-color-picker {
	display: flex;
	justify-content: center;
	margin: 5px 0;
}

.base-model-container .color-picker {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	margin: 0 2px;
}

.input-color {
	display: block;
	margin: 10px auto 5px auto;
}

.base-model, .assets-view {
	display: grid;
	grid-template-columns: repeat(13, 25px);
	grid-template-rows: repeat(13, 25px);
	grid-gap: 1px;
	justify-content: center;
	align-content: center;
}

.tile-base, .tile-asset {
	border: 1px solid black;
	width: 25px;
	height: 25px;
	font-size: 0;
	user-select: none;
	background-color: #fff;
}

.disable-click {
	pointer-events: none;
	border: 1px solid #aaa;
	opacity: 0.5;
}