* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	flex-shrink: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

h1 {
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

p {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}

.container-list {
	height: 100%;
	background-color: #f8f8f8;
	overflow: auto;
}

.container-detail {
	height: 100%;
	background-color: #f8f8f8;
	display: none;
	flex-direction: column;
	overflow: hidden;
}

.container-detail .fa.close-icon {
	color: orange;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 24px;
	cursor: pointer;
}

.team-header {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.team-header.team-list {
	margin: 16px 8px;
	padding: 16px 0;
	border: 1px solid #bbb;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	background-color: white;
}

.team {
	width: 40%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

.team h1 {
	font-size: 16px;
}

.score {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.score h1 {
	font-size: 30px;
	font-weight: 700;
}

.logo-container {
	display: block;
	height: 75px;
	padding-bottom: 5px;
}

.team-logo {
	height: 100%;
}

.current-time {
	text-align: center;
	font-size: 24px;
}

.time-bar {
	margin: 0 auto;
	width: 85%;
	height: 12px;
	background-color: #ddd;
	border-radius: 15px;
	overflow: hidden;
}

.current-bar {
	display: block;
	height: 100%;
	width: 81%;
	background-color: #febf04;
}

.timeline {
	flex-grow: 1;
	position: relative;
	padding-top: 15px;
	overflow: auto;
	flex-shrink: 1;
	-webkit-overflow-scrolling: touch;
}

.v-line {
	padding: 5px 0;
	width: 2px;
	background-color: #ddd;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 95%;
	margin: auto;
}

.event {
	padding: 16px 0;
}

.content {
	width: 50%;
	position: relative;
}

.content.left	{
	margin-right: auto;
	text-align: right;
}

.content.left .player-name {
	padding-right: 20px;
}

.content.right .player-name {
	padding-left: 20px;
}

.content.left::after, .content.right::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 4px solid #FF9F55;
	border-radius: 50%;
	z-index: 1;
	top: 0;
	bottom: 0;
	margin: auto;
	box-sizing: border-box;
	transform: translate(-50%, 0);
}

.content.right {
	margin-left: auto;
	text-align: left;
}

.content.left .event-time {
	position: absolute;
	top: 0;
	right: -50px;
	width: 30px;
	text-align: left;
	color: #ff9f55;
}

.content.right .event-time {
	position: absolute;
	top: 0;
	left: -50px;
	width: 30px;
	text-align: right;
	color: #ff9f55;
}

.action.red-card {
	color: #ff2d52;
}

.action.yellow-card {
	color: #ffce00;
}