* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.render {
	width: 70%;
}

.settings {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.base-model, .assets-view {
	width: 100%;
	height: 50%;
	display: grid;
	grid-template-columns: repeat(13, 25px);
	grid-template-rows: repeat(13, 25px);
	grid-gap: 1px;
	justify-content: center;
	align-content: center;
}

.tile-base, .tile-asset {
	border: 1px solid black;
	width: 25px;
	height: 25px;
	font-size: 0;
	user-select: none;
}

.assets-view {
	width: 100%;
	height: 50%;
}