* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0cf;
	font-family: "Open Sans", sans-serif;
}

.form {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 24px;
	background-color: #f9f9f9;
}

.form h3 {
	color: #f96;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 10px;
}

.form input[type="text"] {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 10px 0;
	padding: 10px;
	outline: 0;
	font-size: 16px;
}

.form label {
	display: block;
	width: 100%;
	background-color: #09c;
	text-align: center;
	padding: 12px;
	position: relative;
	margin: 0 0 10px 0;
	color: white;
}

.form input[type="file"] {
	position: absolute;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.form textarea {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	padding: 10px;
	font-family: "Open Sans", sans-serif;
}

.form input[type="submit"] {
	width: 100%;
	border: 0;
	outline: 0;
	background-color: #0cf;
	color: white;
	padding: 12px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}