* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}

.header {
	background-color: white;
	padding: 24px 48px;
	display: flex;
	justify-content: flex-end;
}

.header .nav a {
	color: #0663f6;
	font-weight: 700;
	margin-left: 20px;
	text-decoration: none;
}

.columns {
	background-color: #0663f6;
	height: 150px;
	display: flex;
}

.column {
	width: 25%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	border-right: 1px solid white;
	cursor: pointer;
}

.column:last-child {
	border: 0;
}

.column img {
	height: 60px;
}

.column p {
	color: white;
	font-weight: 700;
	font-size: 18px;
}

.content {
	width: 100%;
	padding: 0 10%;
}

.title {
	margin: 30px 0 60px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title img {
	width: 100px;
	padding-right: 10px;
}

.title h1 {
	font-size: 40px;
}

.big-title {
	color: #0663f6;
	font-size: 30px;
	margin-bottom: 15px;
	position: relative;
}

.big-title::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background-image: url('../assets/arrow-right.png');
}

.text {
	color: #323d4d;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 45px;
}

.sub-title {
	color: #323d4d;
	font-size: 24px;
	margin-bottom: 3px;
}

ul {
	padding-left: 25px;
	margin-bottom: 30px;
}

li {
	color: #323d4d;
	font-size: 18px;
	font-weight: 400;
}

.section-7 {
	background-color: #f2f6fe;
	display: flex;
	flex-direction: row;
}

.footer-left {
	width: 70%;
	display: flex;
	height: 200px;
	margin: 24px 0;
	justify-content: space-evenly;
	align-items: center;
}

.footer-left .link {
	width: 170px;
}

.footer-left .link a {
	display: block;
	text-decoration: none;
	color: #0663f6;
	font-weight: bold;
	padding-bottom: 8px;
}

.footer-left .link a.transparent {
	color: #f2f6fe;
}

.footer-left .image-store {
	width: 100%;
}

.footer-right {
	width: 30%;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
	border-left: 2px solid #2196f3;
	margin: 24px 0;
}

.footer-right a {
	text-align: center;
	color: #0663f6;
	font-weight: 700;
	margin-bottom: 25px;
	text-decoration: none;
}

.footer-right .footer-logos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer-right .footer-logo {
	height: 100px;
}

.section-8 {
	background-color: #0663f6;
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.section-8 .nav-footer a {
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	margin-right: 25px;
}

.section-8 p {
	font-size: 12px;
	color: white;
	font-weight: 200;
}