* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}

.header {
	background-color: white;
	padding: 24px 48px;
	display: flex;
	justify-content: flex-end;
}

.header .nav a {
	color: #0663f6;
	font-weight: 700;
	margin-left: 20px;
	text-decoration: none;
}

.container .title {
	display: flex;
	align-items: center;
}

.title img {
	display: block;
	width: 130px;
	margin-right: 15px;
	align-self: center;
}

.title h1 {
	color: #0663f6;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
}

.container .content {
	padding: 24px;
}

.content p {
	color: #323d4d;
	width: 80%;
	margin: 0 auto 80px auto;
	font-size: 16px;
}

.content p.nomargin {
	margin: 0 auto;
}

.content h1 {
	color: #0663f6;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 20px;
}

.content ul {
	padding-left: 25px;
	margin-bottom: 80px;
	color: #323d4d;
	width: 80%;
	margin: 0 auto 80px auto;
	font-size: 16px;
}

.section-7 {
	background-color: #f2f6fe;
	display: flex;
	flex-direction: row;
}

.footer-left {
	width: 70%;
	display: flex;
	height: 200px;
	margin: 24px 0;
	justify-content: space-evenly;
	align-items: center;
}

.footer-left .link {
	width: 170px;
}

.footer-left .link a {
	display: block;
	text-decoration: none;
	color: #0663f6;
	font-weight: bold;
	padding-bottom: 8px;
}

.footer-left .link a.transparent {
	color: #f2f6fe;
}

.footer-left .image-store {
	width: 100%;
}

.footer-right {
	width: 30%;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
	border-left: 2px solid #2196f3;
	margin: 24px 0;
}

.footer-right a {
	text-align: center;
	color: #0663f6;
	font-weight: 700;
	margin-bottom: 25px;
	text-decoration: none;
}

.footer-right .footer-logos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer-right .footer-logo {
	height: 100px;
}

.section-8 {
	background-color: #0663f6;
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.section-8 .nav-footer a {
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	margin-right: 25px;
}

.section-8 p {
	font-size: 12px;
	color: white;
	font-weight: 200;
}