* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}

.section-1 {
	/*height: 800px;*/
	height: 100vh;
	background-color: rgb(247, 250, 255);
	background-image: url('../assets/bg1-new.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.header {
	padding: 15px 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header img {
	width: 150px;
}

.header .nav {
	position: relative;
	left: 7%;
}

.header .nav a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 700;
}

.header .nav a:first-child {
	margin: 0;
}

.landing-info {
	display: flex;
	flex-direction: row;
	height: calc(100% - 65px);
}

.landing__left, .landing__right {
	width: 50%;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
}

.landing__left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 8%;
}

.landing__left h1 {
	color: #323d4d;
	margin-top: 80px;
	margin-bottom: 25px;
}

.landing__left p {
	color: #323d4d;
	margin-bottom: 25px;
}

.button {
	outline: 0;
	border: 0;
	border-radius: 20px;
	background-color: #db64ca;
	box-shadow: 0 5px 7px 0 rgba(219, 100, 202, 0.6);
	padding: 10px 20px;
	font-family: "Nunito", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 18px;
	align-self: flex-start;
	cursor: pointer;
	margin-bottom: 80px;
}

.image-logo {
	padding-right: 20px;
	width: 200px;
}

.landing__right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing__right .mockup {
	width: 200px;
}

.landing__right	.mockup-content {
	position: absolute;
	width: 160px;
	padding-bottom: 10px;
}

.section-2 {
	background-image: url('../assets/bg2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.section-2 h1 {
	color: white;
	font-size: 56px;
	margin-bottom: 10px;
}

.section-2 p {
	font-size: 28px;
	text-align: center;
	color: white;
}

.graphs {
	margin: 0 auto;
	width: 75%;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	align-items: flex-start;
}

.graphs .graph {
	background-color: rgb(57, 131, 247);
	font-size: 16px;
	padding: 12px 0;
	font-weight: 700;
	border-radius: 50px;
	width: 300px;
}

.graph-line {
	display: block;
	height: 2px;
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
	margin-top: 33.6px;
}

.section-2 .graph-text-title {
	text-align: left;
	font-size: 18px;
	margin: 30px 0 0 0;
}

.section-2 .graph-text {
	text-align: left;
	font-size: 12px;
}

.section-3 {
	height: 800px;
	background-image: url('../assets/arrow-down.png');
	background-repeat: no-repeat;
	background-position: 5% top;
	background-size: 90px;
	display: flex;
}

.section-3 .content-left, .section-3 .content-right {
	width: 50%;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
}

.content-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content-left .title {
	color: #0663f6;
	font-size: 36px;
	margin-bottom: 18px;
}

.content-left .sub-title {
	color: #323d4d;
	font-size: 18px;
}

.content-right {
	background-image: url('../assets/bg3.png');
	background-repeat: no-repeat;
	background-size: 87%;
	background-position: right bottom;
}

.features {
	margin-top: 150px;
	display: flex;
}

.feature {
	width: 100px;
}

.feature img {
	display: block;
	margin: 0 auto;
	width: 70px;
	margin-bottom: 10px;
}

.feature p {
	color: #0663f6;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
}

.content-right {
	position: relative;
}

.content-right .kios-merchant {
	width: 80%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.section-4 {
	height: 800px;
	background-image: url('../assets/bg4.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	overflow: hidden;
}

.section-4 .texts {
	margin-top: 80px;
	padding-left: 8%;
	position: relative;
}

.section-4 .title {
	color: white;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 30px;
}

.section-4 .sub-title {
	color: white;
	font-size: 22px;
	font-weight: 200;
	line-height: 25px;
}

.section-4 .faq-right {
	width: 200px;
/*	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);*/
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.section-4 .works {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 120px;
	text-align: center;
}

.custom-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

.section-4 .work {
	width: 190px;
	display: inline-block;
	padding: 12px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin: 0 25px 20px 25px;
}

.section-4 .work-person {
	display: block;
	margin: 0 auto;
	height: 180px;
}

.section-4 .button {
	margin: 15px auto 0 auto;
	font-weight: 400;
}

.section-4 .button.tooltip {
	position: relative;
}

.section-4 .button.tooltip .tooltip-text {
	visibility: hidden;
	width: 180px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 140%;
	left: 50%;
	margin-left: -90px;
	opacity: 0;
	transition: opacity 0.5s ease;
	white-space: normal;
	font-size: 14px;
	padding: 8px;
}

.section-4 .button.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.section-4 .button.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.section-5 {
	height: 800px;
	background-color: white;
	background-image: url('../assets/arrow-down.png'), url('../assets/bg5.png');
	background-repeat: no-repeat;
	background-position: 5% top, left top;
	background-size: 90px, cover;
	overflow: hidden;
}

.section-5 .title {
	color: #0663f6;
	font-weight: 700;
	font-size: 56px;
	margin-top: 130px;
	padding-left: 8%;
	line-height: 50px;
}

.section-5 .micro-apps {
	white-space: nowrap;
	text-align: center;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 40px 0;
}

.section-5 .micro-app {
	width: 180px;
	margin: 0 20px;
}

.section-5 .sub-title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #323d4d;
	margin-bottom: 20px;
}

.section-5 .button {
	display: block;
	margin: 0 auto;
}

.section-6 {
	height: 500px;
	background-color: #0663f6;
	background-image: url('../assets/bg6.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: left bottom;
	overflow: hidden;
}

.section-6 p {
	position: relative;
	top: 50px;
	left: 12%;
	text-align: center;
	color: white;
	font-size: 20px;
}

.section-7 {
	background-color: #f2f6fe;
	display: flex;
	flex-direction: row;
}

.footer-left {
	width: 70%;
	display: flex;
	height: 200px;
	margin: 24px 0;
	justify-content: space-evenly;
	align-items: center;
}

.footer-left .link {
	width: 170px;
}

.footer-left .link a {
	display: block;
	text-decoration: none;
	color: #0663f6;
	font-weight: bold;
	padding-bottom: 8px;
}

.footer-left .link a.transparent {
	color: #f2f6fe;
}

.footer-left .image-store {
	width: 100%;
}

.footer-right {
	width: 30%;
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
	border-left: 2px solid #2196f3;
	margin: 24px 0;
}

.footer-right a {
	text-align: center;
	color: #0663f6;
	font-weight: 700;
	margin-bottom: 25px;
	text-decoration: none;
}

.footer-right .footer-logos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer-right .footer-logo {
	height: 100px;
}

.section-8 {
	background-color: #0663f6;
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.section-8 .nav-footer a {
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	margin-right: 25px;
}

.section-8 p {
	font-size: 12px;
	color: white;
	font-weight: 200;
}