body {
	background-color: rgb(245, 245, 245);
	box-sizing: border-box;
	padding: 24px;
}

table thead th {
	user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}

.button {
	margin-bottom: 20px;
}

.hero {
	margin-bottom: 20px;
}

.status-open, .status-complete, .status-expire {
	display: block;
	padding: 5px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	text-align: center;
}

.status-open {
	background-color: #209cee;
}

.status-complete {
	background-color: #23d160;
}

.status-expire {
	background-color: #ff3860;
}