* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #b33771;
	font-family: "Nunito", sans-serif;
	position: relative;
}

.main-container {
	height: 100%;
	overflow: auto;
}

.main-calendar {
	margin-top: 40px;
}

.main-calendar .datepicker-inline .datepicker {
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 300px;
}

.main-calendar .datepicker-inline .datepicker .datepicker--cell {
	height: 40px;
}

.main-calendar .datepicker-inline .datepicker--cells-months {
	height: auto;
}

.main-calendar .datepicker-inline .datepicker--days-names {
	margin: 8px 0;
}

.dp-note {
	background: #ffb142;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	left: 50%;
	bottom: 5px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.chart-container {
	margin: 40px auto 20px auto;
	width: 95%;
	padding: 12px;
	max-width: 300px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-btn {
	font-family: "Nunito", sans-serif;
	display: block;
	margin: 0 auto;
	border: 2px solid white;
	border-radius: 5px;
	padding: 12px;
	margin-bottom: 12px;
	background-color: transparent;
	color: white;
	outline: 0;
}

.more-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: white;
	z-index: 101;
	transition: 700ms ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: translateX(110%);
	will-change: transform;
}

.more-container .header {
	width: 100%;
	height: 60px;
	background-color: #b33771;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
}

.more-container .header h1 {
	text-align: center;
	line-height: 60px;
	color: white;
	font-size: 28px;
}

.back-arrow {
	width: 22px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}

.more-container .tabs {
	text-align: center;
	margin: 20px 0 10px 0;
}

.more-container .tab {
	padding: 4px 8px;
	color: #696969;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
}

.more-container .tab.active {
	border-bottom: 2px solid #b33771;
	color: #b33771;
}

.table-container {
	padding: 12px;
}

.table-inapp, .table-cashin {
	display: none;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: .35em;
}

table th,
table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}

	table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
  	border-bottom: 0;
  }
}