* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #ffa631;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	color: #fff;
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	user-select: none;
	flex-grow: 0;
	width: 200px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 0px 0px 0px;
}

.blue {
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3C93D5;
}

.green {
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #15B358;
}

.red {
	background-color: #e74c3c;
	box-shadow: 0px 5px 0px 0px #CE3323;
}
