* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	background-image: url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 90%;
	height: 90%;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title, .desc, .button-mail {
	font-family: "Montserrat", sans-serif;
	color: white;
	text-align: center;
}

.title {
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.desc {
	width: 60%;
	margin-bottom: 20px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.button-mail {
	display: block;
	text-decoration: none;
	background-color: rgb(0, 114, 189);
	padding: 15px 45px;
	border-radius: 40px;
	margin-bottom: 40px;
}

.doc-logo {
	width: 80px;
	margin-bottom: 10px;
}

.digiroin-logo {
	width: 140px;
}