.flag {
	width:300px;
	height:200px;
	position:absolute;
	left:100px; top:100px;
	visibility: hidden;
}

.flag-element {
	width:2px;
	height:100%;
	display:inline-block;
	position:relative;
	background-image:url('https://previews.123rf.com/images/vectorshots/vectorshots1308/vectorshots130800646/21505830-simple-cartoon-fish-illustration.jpg');
	background-size: 300px auto;
	-webkit-animation:	wave 0.6s ease-in-out infinite alternate;
	animation:			wave 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes wave{
	0% {	-webkit-transform:	translate3d(0,5%,0);}
	100% {	-webkit-transform:	translate3d(0,-5%,0);}
}
@keyframes wave{
	0% {	transform:	translate3d(0,5%,0);}
	100% {	transform:	translate3d(0,-5%,0);}
}