* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	overflow: hidden;
	background-color: #e74c3c;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.title {
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
	/*margin-top: 10vh;*/
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.box-promo {
	/*margin: 10vh auto 0 auto;*/
	margin: 0 auto;
	width: 80vw;
	height: 80vw;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10px;
	background-color: #c0392b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
	font-size: 28px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.big-text {
	font-size: 48px;
}

.modal {
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.scratch {
	display: block;
	width: 80vw;
	height: 80vw;
	max-width: 450px;
	max-height: 450px;
	margin: 25vw auto	0 auto;
}

.button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.button {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: white;
	outline: 0;
	border: 0;
	border-radius: 5px;
	display: block;
	padding: 16px;
	background-color: #c0392b;
	margin: 20px 8px 0 8px;
}

.action-button {
	display: none;
}