body {
	background-color: rgb(245, 245, 245);
	box-sizing: border-box;
	padding: 24px;
}

.title {
	text-align: center;
}

table {
	margin-bottom: 0;
}

table thead th {
	user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}