<template>
  <div id="app">
    <div v-if="landing" class="items">
      <box-item v-on:click.native="openPesawat()" name="Tiket Pesawat" image="airplane.png" color="#b33771"></box-item>
      <box-item v-on:click.native="openKereta()" name="Tiket Kereta" image="train.png" color="#3b3b98"></box-item>
      <box-item name="Contact Us" image="message.png" color="#fd7272"></box-item>
      <box-item name="Help" image="question.png" color="#82589f"></box-item>
    </div>
    <component v-else v-bind:is="viewComponent" v-on:backToLanding="showLanding()"></component>
  </div>
</template>

<script>
  import Item from './components/Box.vue';
  import TiketPesawat from './components/TiketPesawat.vue';
  import TiketKereta from './components/TiketKereta.vue';
  export default {
    components: {
      'box-item': Item,
      'tiket-pesawat': TiketPesawat,
      'tiket-kereta': TiketKereta
    },

    data: function() {
      return {
        landing: true,
        viewComponent: ''
      }
    },

    methods: {
      showLanding() {
        this.landing = true;
        this.viewComponent = '';
      },
      openPesawat() {
        this.landing = false;
        this.viewComponent = 'tiket-pesawat';
      },

      openKereta() {
        this.landing = false;
        this.viewComponent = 'tiket-kereta';
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(236, 240, 243);
  }

  #app {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .items {
    padding: 12px;
    display: grid;
    grid-gap: 12px;
    /*grid-template-columns: repeat(auto-fill, 80px);*/
    grid-template-columns: repeat(3, 90px);
    justify-content: center;
  }
</style>
