* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	display: flex;
	flex-direction: column;
}

.header	{
	background-color: #ff515c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
	flex-shrink: 0;
}

#back-button {
	font-size: 1.7em;
	color: white;
	position: absolute;
	margin-left: 10px;
	cursor: pointer;
	display: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

.title {
	text-align: center;
	color: white;
	font-weight: 600;
}

.second-title {
	display: none;
	font-weight: 400;
	text-align: center;
	color: white;
	font-size: 20px;
}

.main-content, .other-content {
	flex-grow: 1;
}

.columns {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.column.bpjs {
	filter: grayscale(100%) !important;
}

.logo-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #bf3c45;
}

.logo-container.empty {
	background-color: transparent;
}

.fa.icon {
	color: white;
}

.text-bill {
	color: #4c4949;
	font-size: 16px;
	text-align: center;
	font-weight: 400;
	padding-top: 5px;
}

.other-content {
	display: none;
	background-color: #ecf0f3;
	padding: 16px;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* Scrolling inside Div */
}

.box-container {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 8px;
}

.listrik-tabs {
	display: flex;
}

.listrik-tab {
	display: block;
	width: 50%;
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	color: #696969;
}

.listrik-tab.active {
	color: #ff515c;
	border-bottom: 2px solid #ff515c;
}

.text-phone {
	color: #4c4949;
	font-size: 14px;
	font-weight: 400;
	padding-left: 12px;
	padding-bottom: 2px;
	visibility: hidden;
}

.text-phone.show {
	visibility: visible;
	padding-left: 4px;
	font-size: 16px;
}

.text-provider {
	padding: 10px 0 10px 12px;
	color: #4c4949;
	font-size: 16px;
	font-weight: 400;
	padding-left: 12px;
}

.input-phone {
	border-radius: 10px;
	width: 100%;
	padding: 8px 12px;
	outline: 0;
	border: 1px solid #ddd;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.input-phone-kodearea {
	display: inline-block;
	width: 60px;
	text-align: center;
}

.input-phone.inline {
	display: inline-block;
	width: calc(100% - 64px);
}

#input-hp-listrik {
	margin-bottom: 15px;
}

.result-container {
	display: none;
}

.list-pulsa {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
}

.nominal {
	width: 60px;
	margin-right: 20px;
}

.nominal-data {
	width: 100px;
	margin-right: 20px;
}

.text-pulsa-title {
	font-weight: 400;
	font-size: 12px;
}

.text-pulsa {
	font-weight: 600;
	font-size: 16px;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	z-index: 2;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: 80%;
	max-width: 450px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	padding: 10px;
}

.konfirmasi-title {
	font-size: 18px;
	text-align: center;
}

.detail-pulsa {
	font-size: 14px;
	text-align: center;
	font-weight: 400;
}

.button-pulsa-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-pulsa {
	outline: 0;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #4c4949;
	padding: 8px;
	margin: 10px 4px;
}

.status-telp {
	margin: 10px 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 10px;
}

.status-telp div p {
	display: inline-block;
	width: 45%;
	font-weight: 300;
	padding: 5px 0;
}

.status-telp div .colon {
	display: inline-block;
	margin-right: 10px;
}

.status-telp div.total-line {
	/*width: calc(100% - 110px);*/
	width: 55%;
	height: 1px;
	margin-left: auto;
	padding: 1px 0;
	border-bottom: 2px solid #aaa;
}

.bold {
	font-weight: bold;
}
