* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Quicksand", sans-serif;
	background-image: linear-gradient(to top right, #3A92AF 0%, #5CA05A 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #676767;
}

.box {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	border-radius: 5px;
}

.box h1 {
	padding: 10px 20px;
	text-align: center;
}

.line {
	border: 1px solid #aaa;
}

.content {
	box-sizing: border-box;
	padding: 24px 0;
	position: relative;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 100px;
	padding: 16px;
	border: 2px dashed #ddd;
	border-radius: 5px;
}

.input {
	display: none;
}

.button {
	font-family: "Quicksand", sans-serif;
	font-size: 14px;
	color: white;
	display: block;
	margin: 24px auto 0 auto;
	padding: 12px 22px;
	outline: 0;
	border: 0;
	background-color: #6ece3b;
	border-radius: 5px;
}
