* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}

.overlay {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

.side-nav {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 240px;
	height: 100%;
	background-color: #0663f6;
	transition: 0.4s ease;
	transform: translateX(-240px);
	overflow-y: auto;
}

.side-nav .line {
	display: block;
	margin: 25px auto;
	width: 200px;
	height: 1px;
	background-color: white;
}

.side-nav a {
	display: block;
	text-decoration: none;
	font-weight: 700;
	color: white;
	font-size: 16px;
	margin: 25px 0 25px 25px;
}

.side-nav a:first-child {
	margin-top: 50px;
}

.header {
	width: 100%;
	height: 50px;
	background-color: #0663f6;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
}

.hamburger {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	cursor: pointer;
	padding: 8px;
}

.hamburger .line {
	display: block;
	width: 24px;
	height: 2px;
	background-color: white;
	margin: 2px 0;
}

.hamburger .line:last-child {
	width: 15px;
	align-self: flex-start;
}

.header h1 {
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	color: white;
}

.section-1 {
	margin-top: 50px;
	padding: 24px;
}

.phone-container {
	background-image: url('../assets/bg1.png');
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
}

.phone {
	display: block;
	margin: 0 auto;
	width: 100px;
}

.mockup {
	position: absolute;
	width: 80px;
	padding-bottom: 5px;
}

.section-1 h1 {
	font-size: 16px;
	color: #323d4d;
	margin-bottom: 8px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

.section-1 p {
	color: #323d4d;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}

.button {
	display: block;
	outline: 0;
	border: 0;
	border-radius: 20px;
	background-color: #db64ca;
	box-shadow: 0 5px 7px 0 rgba(219, 100, 202, 0.6);
	padding: 12px 22px;
	font-weight: bold;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.section-1 .button {
	margin: 20px auto;
}

.store-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.store-logo img {
	width: 140px;
	flex-shrink: 0;
	margin: 5px;
}

.section-2 {
	background-color: #0663f6;
	padding: 24px;
	color: white;
}

.section-2 h1 {
	font-size: 24px;
	text-align: center;
}

.section-2 h2 {
	font-size: 16px;
	text-align: center;
	font-weight: 400;
}

.section-2 .box {
	background-color: rgb(52, 128, 247);
	padding: 8px;
	border-radius: 10px;
}

.section-2 .box .button {
	background-color: white;
	color: #0663f6;
	margin: 10px auto 0 auto;
	padding: 4px 8px;
	box-shadow: none;
}

.section-2 .line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 16px 0;
}

.section-2 .info-title {
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
}

.section-2 .info-title.no-margin {
	margin: 0;
}

.section-2 .info-content {
	font-weight: 300;
	text-align: center;
}

.section-2 .info-content .more-text {
	display: none;
}

.section-3 {
	background-image: url('../assets/arrow-down.png');
	background-repeat: no-repeat;
	background-position: 25px top;
	background-size: 40px;
	padding: 24px 24px 0 24px;
}

.section-3 .title {
	margin-top: 55px;
	margin-bottom: 10px;
	font-size: 18px;
	color: #2196f3;
}

.section-3 .sub-title {
	color: #323d4d;
}

.features {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

.feature {
	flex-shrink: 0;
	width: 70px;
}

.feature img {
	display: block;
	margin: 0 auto;
	width: 50px;
	margin-bottom: 10px;
}

.feature p {
	color: #0663f6;
	text-align: center;
	font-weight: 700;
	font-size: 10px;
}

.kios-merchant {
	display: block;
	width: 80%;
	max-width: 350px;
	margin: 20px auto -2px auto;
}

.section-4 {
	padding: 24px;
	background-color: #0663f6;
}

.section-4 .title {
	color: white;
	margin-top: 55px;
	margin-bottom: 10px;
	font-size: 18px;
}

.section-4 .sub-title {
	color: white;
}

.section-4 .faq-right {
	display: block;
	position: relative;
	right: -24px;
	width: 140px;
	margin: 12px 0 24px auto;
}

.section-4 .works {
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center;
}

.section-4 .work {
	width: 160px;
	display: inline-block;
	padding: 12px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	margin: 0 25px 0 0;
}

.section-4 .work:last-child {
	margin: 0;
}

.section-4 .work-person {
	display: block;
	margin: 0 auto;
	height: 130px;
	margin-bottom: 12px;
}

.section-4 .button {
	margin: 0 auto;
	font-weight: 300;
	font-size: 14px;
	padding: 10px;
}

.section-4 .button.tooltip {
	position: relative;
}

.section-4 .button.tooltip .tooltip-text {
	visibility: hidden;
	width: 150px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 140%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.5s ease;
	white-space: normal;
	font-size: 12px;
	padding: 8px;
}

.section-4 .button.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.section-4 .button.tooltip.show .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.section-5 {
	background-image: url('../assets/arrow-down.png');
	background-repeat: no-repeat;
	background-position: 25px top;
	background-size: 40px;
	padding: 24px;
}

.section-5 .title {
	color: #2196f3;
	margin-top: 55px;
	margin-bottom: 10px;
	font-size: 18px;
}

.section-5 .micro-apps {
	text-align: center;
	white-space: nowrap;
	overflow-x: auto;
	margin: 30px 0 10px 0;
	-webkit-overflow-scrolling: touch;
}

.section-5 .micro-app {
	width: 150px;
	margin-right: 20px;
}

.section-5 .micro-app:last-child {
	margin: 0;
}

.section-5 .desc {
	text-align: center;
	font-size: 16px;
	color: #323d4d;
	margin-bottom: 20px;
}

.section-5 .button {
	margin: 0 auto 10px auto;
}

.section-6 {
	padding-top: 24px;
	background-color: #0663f6;
}

.section-6 .title {
	color: white;
	padding: 12px;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 16px;
	width: 220px;
	margin: 40px auto;
}

.section-6 .desc {
	color: white;
	font-weight: 300;
	text-align: center;
	margin: 0 auto 40px auto;
	width: 280px;
}

.section-6 .connection {
	width: 100%;
	margin-bottom: -5px;
}

.section-7 {
	padding: 24px;
	background-color: #f2f6fe;
}

.section-7 .title {
	color: #0663f6;
	text-align: center;
	font-weight: 700;
	margin-top: 40px;
}

.section-7 .logos {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

.section-7 .logo {
	height: 80px;
	flex-shrink: 0;
	margin: 0 15px;
}

.section-7 .links {
	display: flex;
	justify-content: center;
}

.section-7 .link {
	flex-shrink: 0;
	width: 90px;
}

.section-7 .link a {
	display: block;
	text-decoration: none;
	color: #0663f6;
	font-weight: bold;
	padding-bottom: 8px;
	font-size: 10px;
}

.section-8 {
	padding: 24px;
	background-color: #0663f6;
}

.section-8 p {
	font-weight: 300;
	text-align: center;
	color: white;
	font-size: 12px;
}