* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: rgb(32, 32, 32);
	font-family: "Open Sans", sans-serif;
	color: #455569;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 700;
}

p {
	font-weight: 400;
}

.app-name {
	text-align: center;
	font-weight: 800;
	margin: 30px 0;
}

.title {
	width: 100%;
	overflow: hidden;
	font-size: 26px;
	color: #ddd;
}

.player {
	width: 90%;
	max-width: 380px;
	background-color: rgb(64, 62, 63);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
}

.cover {
	width: 100%;
	height: 150px;
}

.cover-image {
	display: block;
	height: 100%;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.information {
	margin-top: 15px;
}

.buttons {
	margin-top: 15px;
}

.play-button {
	font-size: 30px;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.button {
	display: inline-block;
	width: 75px;
	height: 75px;
	background-color: #414141;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border: 2px solid #ddd;
	margin: 0 10px;
}

.button-small {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #414141;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border: 2px solid #ddd;
}

.icon, .small-icon {
	display: block;
}

.button-small .backward-icon {
	margin-right: 6px;
}

.button-small .forward-icon {
	margin-left: 4px;
}

.button .play-icon {
	margin-left: 5px;
}

.icon.pause-icon {
	display: none;
}

#sc-player {
	opacity: 0;
	position: absolute;
	left: -9999em;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-container {
	width: 90%;
	max-width: 380px;
	background-color: rgb(64, 62, 63);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
}

.modal-title {
	text-align: center;
	color: #ddd;
}

.play-modal {
	margin: 25px auto 0 auto;
	padding: 10px 16px;
	outline: 0;
	border: 0;
	background-color: #414141;
	border: 2px solid #ddd;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	border-radius: 10px;
	display: none;
}

.modal-loading {
	text-align: center;
	color: white;
	margin: 25px auto 0 auto;
}