* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	background-color: #15161d;
	max-width: 1920px;
}

.header {
	width: 100%;
	height: 65px;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 10px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header .logo {
	display: block;
	height: 100%;
}

.header .title {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #15161d;
	font-size: 14px;
	margin-left: 5px;
}

.header .location {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #15161d;
	font-size: 14px;
	margin: 0 auto;
}

.header .name-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 8px;
	border-radius: 10px;
	transition: 0.2s ease;
	cursor: pointer;
	color: #15161d;
}

.header .name-box:hover {
	background-color: #f2f2f2;
}

.header .name-box:focus {
	background-color: #2689ff;
}

.header .name-box.active-box {
	background-color: #2689ff;
	color: #fff;
}


.header .name-box .name {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.header .name-box .circle {
	margin-left: 10px;
	background-color: black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.popup-name {
	display: none;
	position: absolute;
	top: 65px;
	right: 15px;
	width: 350px;
	height: 350px;
	background-color: white;
	z-index: 3;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.popup-list {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-indent: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	transition: 0.2s ease;
	cursor: pointer;
}

.popup-list:hover {
	background-color: #f2f2f2;
}

.tab-box {
	border: solid 1px rgba(151, 151, 151, 0.27);
	height: 45px;
	background-color: white;
	box-sizing: border-box;
	padding: 5px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.tab-list {
	width: 180px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.tab-name {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
}

.highlight {
	display: none;
	background-color: #22ce8b;
	width: 100%;
	height: 8px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
}

.hl-tab1 {
	display: block;
}

.back-to {
	display: none;
	width: 100%;
	height: 35px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px rgba(151, 151, 151, 0.27);
	box-sizing: border-box;
	align-items: center;
}

.back-to p {
	font-family: "Montserrat", sans-serif;
	font-size: 16;
	color: black;
	font-weight: 600;
	margin-left: 15px;
	cursor: pointer;
}

.container-cash {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.box-cash {
	width: 300px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	margin: 40px 0 0 60px;
	padding: 0 0 0 70px;
	display: flex;
	align-items: center;
	flex-direction: row;
	position: relative;
	cursor: pointer;
}

.box-cash-avatar {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	position: absolute;
	left: -20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 12px;
}

.avatar-red {
	background-color: #ef4836;
}

.avatar-blue {
	background-color: #2689ff;
}

.boxcash-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
}

.boxcash-desc {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
}

.cash-in-container {
	margin: 50px auto 0 auto;
	display: none;
}

.cash-in-box {
	box-sizing: border-box;
	padding: 20px;
	width: 300px;
	background-color: #ffffff;
	box-shadow: 0 3px 12px 0 rgba(255, 255, 255, 0.37);
	border-radius: 20px;
	margin: 0 auto;
}

.cash-in-title {
	font-family: "Montserrat", sans-serif;
	color: #15161d;
	font-weight: 600;
	margin-bottom: 8px;
}

.cash-in-input {
	display: block;
	width: 100%;
	background-color: #f2f2f2;
	transition: 0.2s ease;
	outline: 0;
	border: 0;
	box-sizing: border-box;
	padding: 8px 16px;
	font-family: "Montserrat", sans-serif;
	border-radius: 6px;
	margin-bottom: 16px;
}

.cash-in-input::placeholder {
	color: #9b9b9b;
	font-style: italic;
	opacity: 1; /* Firefox */
}

.cash-in-input:focus {
	background-color: #2689ff;
	color: white;
}

.cash-in-input:focus::placeholder {
	color: white;
}

.cash-in-warning {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #d0021b;
	text-align: center;
	font-size: 12px;
	margin-bottom: 16px;
}

.cash-in-button {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	background-color: #22ce8b;
	border: 0;
	outline: 0;
	color: white;
	cursor: pointer;
	margin: 0 auto;
	transition: 0.2s ease;
}

.cash-in-button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cash-in-button:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cash-in-header {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
	color: black;
	margin-bottom: 16px;
}

.cash-in-info-cashtag, .cash-in-info-jumlahuang {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: black;
	font-size: 14px;
	border-bottom: 1px solid #d8d8d8;
	text-align: right;
	margin-bottom: 16px;
}

.cash-in-progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ci-progress {
	width: 100px;
	height: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 10px 0 10px;
}

.ci-progress-active {
	background-color: #2689ff;
	color: white;
}

.ci-progress-inactive {
	background-color: #f2f2f2;
	color: black;
}

.ci-progress-done {
	background-color: #22ce8b;
	color: white;
}

.cash-out-progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.co-progress {
	width: 100px;
	height: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 10px 0 10px;
}

.co-progress-active {
	background-color: #2689ff;
	color: white;
}

.co-progress-inactive {
	background-color: #f2f2f2;
	color: black;
}

.co-progress-done {
	background-color: #22ce8b;
	color: white;
}

.payment-proof {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 16px;
	margin-bottom: 8px;
}

.payment-proof-small {
	font-size: 14px;
}

.payment-proof-dot {
	display: inline-block;
	padding-right: 10px;
	font-family: "Montserrat", sans-serif;
}

.payment-proof-text {
	display: inline-block;
	width: 100px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.payment-proof-textdone {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.payment-proof-money {
	text-align: right;
	padding: 10px 0;
	border-bottom: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	margin-top: 25px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 20px;
}

.cash-out-container {
	margin: 50px auto 0 auto;
	display: none;
}

.cash-out-box {
	box-sizing: border-box;
	padding: 20px;
	width: 300px;
	background-color: #ffffff;
	box-shadow: 0 3px 12px 0 rgba(255, 255, 255, 0.37);
	border-radius: 20px;
	margin: 0 auto;
}

.cash-out-header {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: black;
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 20px;
}

.cashout-text {
	font-family: "Montserrat", sans-serif;
	color: #15161d;
	font-weight: 600;
	margin-bottom: 8px;
}

.cashout-input {
	display: block;
	width: 100%;
	background-color: #f2f2f2;
	transition: 0.2s ease;
	outline: 0;
	border: 0;
	box-sizing: border-box;
	padding: 8px 16px;
	font-family: "Montserrat", sans-serif;
	border-radius: 6px;
	margin-bottom: 26px;
}

.cashout-input::placeholder {
	color: #9b9b9b;
	font-style: italic;
	opacity: 1; /* Firefox */
}

.cashout-input:focus {
	background-color: #2689ff;
	color: white;
}

.cashout-input:focus::placeholder {
	color: white;
}

.cashout-button {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	background-color: #22ce8b;
	border: 0;
	outline: 0;
	color: white;
	cursor: pointer;
	margin: 0 auto;
	transition: 0.2s ease;
}

.cashout-button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cashout-button:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cash-out-warning {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #d0021b;
	text-align: center;
	margin-bottom: 20px;
}

.container-report {
	display: none;
	margin: 50px auto 0 auto;
	width: 900px;
}

.report-table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

.report-table th {
	padding: 12px 10px;
	text-align: left;
	background-color: #9b9b9b;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 16px;
}

.report-table td {
	padding: 15px 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
	font-size: 14px;
}

.report-table tr:nth-child(odd) {
	background-color: white;
}

.report-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.pagination a {
	display: block;
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
}