<template>
	<div class="box">
		<p v-show="discount" class="discount"><i class="icon-promo"></i></p>
		<div v-show="newpromo" class="dot"></div>
		<img class="icon-box" v-bind:src="imagePath">
		<p>{{ name }}</p>
	</div>
</template>

<script>
	export default {
		props: ['icon', 'name', 'newpromo', 'discount'],
		computed: {
			imagePath() {
				return require('../assets/icon/' + this.icon);
			}
		}
	}
</script>

<style scoped>
	.box {
		width: 100%;
		height: 95px;
		border-radius: 10px;
		border: 1px solid #dddddd;
		padding: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
	}

	.box .icon-box {
		height: 35px;
		margin-bottom: 10px;
	}

	.box p {
		color: #222;
		text-align: center;
		font-size: 14px;
	}

	.box .discount {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #7ed321;
		color: white;
		padding: 5px 5px 4px 5px;
		font-size: 12px;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.box .icon-promo {
		display: block;
	}

	.box .dot {
		position: absolute;
		background-color: #ff001f;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		top: 5px;
		right: 5px;
	}

</style>