<template>
	<div class="box-paket-data" v-on:click="tickRadio()">
		<p v-bind:class="{'diskon': this.diskon}">{{ diskon }}</p>
		<h1 class="nama-paket">{{ namaPaket }}</h1>
		<p class="desc-paket">{{ descPaket }}</p>
		<p class="masa-aktif">Aktif selama {{ masaAktif }} hari</p>
		<div class="harga-container">
			<span class="harga">{{ harga }}</span><span class="harga-lama">{{ hargaLama }}</span>
		</div>
		<label class="radio">
			<input type="radio" name="radio" ref="radio">
			<span class="radiomark"></span>
		</label>
	</div>
</template>

<script>
	export default {
		props: ['namaPaket', 'descPaket', 'masaAktif', 'harga', 'hargaLama', 'diskon'],

		methods: {
			tickRadio() {
				this.$refs.radio.checked = true;
			}
		}
	}
</script>

<style scoped>
	.box-paket-data {
		display: block;
		width: 100%;
		height: 150px;
		border-radius: 10px;
		border: 1px solid #ddd;
		background-color: white;
		margin: 10px auto 0 auto;
		padding: 12px;
		position: relative;
	}

	.diskon {
		position: absolute;
		font-size: 12px;
		background-color: #7ed321;
		padding: 6px 8px;
		color: white;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		top: 0;
		right: 0;
	}

	.nama-paket {
		color: #222;
		font-size: 20px;
	}

	.desc-paket {
		margin-top: 10px;
		color: #222;
		font-size: 14px;
		padding-right: 20px;
	}

	.masa-aktif {
		margin-top: 10px;
		color: #888888;
		font-size: 14px;
	}

	.harga-container {
		position: absolute;
		bottom: 10px;
	}

	.harga {
		font-weight: bold;
		color: #a28ffd;
		display: inline-block;
		padding-right: 10px;
		font-size: 18px;
	}

	.harga-lama {
		display: inline-block;
		color: #888888;
		font-size: 16px;
		text-decoration: line-through;
		text-decoration-color: #ff001f;
	}

	.radio {
		display: block;
	}

	.radio input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.radiomark {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
		height: 18px;
		width: 18px;
		border-radius: 50%;
		background-color: white;
		border: 2px solid #ddd;
	}

	.radio input:checked ~ .radiomark {
		background-color: #a28ffd;
		border: 2px solid #a28ffd;
	}
</style>