<template>
	<div class="box-pulsa" v-on:click="tickRadio()">
		<p v-bind:class="{'diskon': this.diskon}">{{ diskon }}</p>
		<h1 class="nominal">{{ nominal }}</h1>
		<p class="harga-lama">{{ hargaLama }}</p>
		<p class="harga">{{ harga }}</p>
		<label class="radio">
			<input type="radio" name="radio" ref="radio">
			<span class="radiomark"></span>
		</label>
	</div>
</template>

<script>
	export default {
		props: ['nominal', 'harga', 'hargaLama', 'diskon', 'value'],
		data() {
			return {
			}
		},

		methods: {
			tickRadio() {
				this.$refs.radio.checked = true;
			}
		}
	}
</script>

<style scoped>
	.box-pulsa {
		display: inline-block;
		width: 120px;
		height: 150px;
		border-radius: 10px;
		border: 1px solid #ddd;
		background-color: white;
		text-align: center;
		position: relative;
	}

	.diskon {
		position: absolute;
		font-size: 12px;
		background-color: #7ed321;
		padding: 4px;
		color: white;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
		top: -1px;
	}

	.nominal {
		margin-top: 30px;
		color: #222222;
		font-size: 24px;
	}

	.harga-lama {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 65px;
		color: #888888;
		text-decoration: line-through;
		text-decoration-color: #ff001f;
	}

	.harga {
		margin-top: 25px;
		color: #a28ffd;
	}

	.radio {
		margin-top: 15px;
		display: block;
		position: relative;
	}

	.radio input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.radiomark {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 18px;
		width: 18px;
		border-radius: 50%;
		background-color: white;
		border: 2px solid #ddd;
	}

	.radio input:checked ~ .radiomark {
		background-color: #a28ffd;
		border: 2px solid #a28ffd;
	}
</style>