<template>
	<div class="main-page">
		<Box name="Pulsa" icon="pulsa_icon.svg" v-on:click.native="gotoPage('/pulsa')" />
		<Box name="Paket Data" discount="true" icon="paket_data_icon.svg" v-on:click.native="gotoPage('/paket-data')" />
		<Box name="Token Listrik" newpromo="true" icon="listrik_icon.svg" v-on:click.native="gotoPage('/token-listrik')" />
	</div>
</template>

<script>
	import Box from './Box.vue';

	export default {
		components: {
			'Box': Box
		},

		data() {
			return {
				msg: 'Welcome to Your Vue.js App'
			}
		},

		methods: {
			gotoPage(route) {
				this.$router.push(route);
			}
		}
	}
</script>

<style>
	.main-page {
		display: grid;
		grid-gap: 12px;
		grid-template-columns: repeat(3, 95px);
		justify-content: center;
		padding: 16px;
	}
</style>
