<template>
	<div class="pulsa">
		<div class="container-one">
			<div class="input-container">
				<div class="top-container">
					<div class="phone-input-container">
						<i v-bind:class="['icon', 'icon-smartphone', {'oninput': onInputText}]"></i>
						<p v-show="onHaveText" class="placeholder-top">Nomor Handphone</p>
						<input type="tel" ref="input" class="input" v-bind:class="{'warning': warningInput}" placeholder="Nomor Handphone" v-model="telpNumber" v-on:input="findProvider()" v-on:focus="onFocusInput()" v-on:blur="onBlurInput()">
						<img class="clear-btn" src="../assets/icon/close_circle.svg" v-on:click="clearInput()">
					</div>
					<p v-show="warningInput" class="warning-error">Kesalahan pada nomor atau operator</p>
					<div class="provider-img">
						<p>Provider :</p>
						<div v-bind:class="['background-provider', 'bg-' + provider]"></div>
					</div>
				</div>
				<div class="bottom-container">
					<div>
						<i class="icon icon-nomorsaya"></i>
						<p>Nomor Saya</p>
					</div>
					<div>
						<i class="icon icon-kontak"></i>
						<p>Kontak</p>
					</div>
				</div>
			</div>
			<p class="text">Pilih Nominal</p>
		</div>
		<div class="paket-data-list">
			<BoxPaketData
				namaPaket="Paket 1"
				descPaket="4GB + 8GB (4G). Stream ON & Kuota Aplikasi
				2GB. Unlimited 5.000 Min."
				masaAktif="30"
				harga="Rp 50.000"
				hargaLama="Rp 89.000"
				diskon="-25%"
			/>
			<BoxPaketData
				namaPaket="Paket 2"
				descPaket="4GB + 8GB (4G). Unlimited 5.000 Min."
				masaAktif="30"
				harga="Rp 90.000"
			/>
			<BoxPaketData
				namaPaket="Paket 3"
				descPaket="4GB + 8GB (4G). Stream ON & Kuota Aplikasi
				2GB. Unlimited 5.000 Min."
				masaAktif="30"
				harga="Rp 145.000"
			/>
		</div>
		<label class="checkbox">Simpan rekening favorit
			<input type="checkbox" checked>
			<span class="checkmark"></span>
		</label>
		<div v-show="viewSlide" class="slide-container">
			<div class="circle" v-on:click="showSaldo()">
				<i class="icon icon-topup"></i>
			</div>
			<VueDrag
			:width="250"
			:height="45"
			:background="'#f7f7f7'"
			:progressBarBg="'#f7f7f7'"
			:completedBg="'#f7f7f7'"
			:text="'Bayar'"
			:successText="'Success'"
			:handlerBg="'#a28ffd'"
			:textSize="'18px'"
			v-on:passcallback="successSlide()"
			/>
		</div>
		<div v-show="!viewSlide" class="slide-container">
			<div class="circle" v-on:click="showSlide()">
				<i class="icon icon-bill"></i>
			</div>
			<div class="saldo-bar">
				<p>Saldo Kamu Rp {{ saldoFormat }}</p>
			</div>
		</div>
	</div>
</template>

<script>
import BoxPaketData from './BoxPaketData.vue';
import VueDrag from 'vue-drag-verify';
export default {
	components: {
		'BoxPaketData': BoxPaketData,
		'VueDrag': VueDrag
	},

	data() {
		return {
			onInputText: false,
			onHaveText: false,
			saldo: 30000,
			viewSlide: true,
			provider: 'none',
			telpNumber: '',
			dataProvider: [{
				"name": "XL",
				"number": ["0817", "0818", "0819", "0859", "0877", "0878", "0879"]
			},
			{
				"name": "Telkomsel",
				"number": ["0811", "0812", "0813", "0821", "0822", "0823", "0851", "0852", "0853"]
			},
			{
				"name": "Axis",
				"number": ["0831", "0832", "0838"]
			},
			{
				"name": "Indosat",
				"number": ["0814", "0815", "0816", "0855", "0856", "0857", "0858"]
			},
			{
				"name": "Three",
				"number": ["0895", "0896", "0897", "0898", "0899"]
			},
			{
				"name": "Smartfren",
				"number": ["0881", "0882", "0883", "0884", "0885", "0886", "0887", "0888", "0889"]
			},
			{
				"name": "Bolt",
				"number": ["9991", "9992", "9988", "9993", "9994", "9995"]
			}]
		};
	},

	computed: {
		saldoFormat() {
			return this.saldo.toLocaleString('id-ID');
		},

		warningInput() {
			if (this.provider == 'none') {
				if (	this.telpNumber.length >= 8) {
					return true;
				} else {
					return false;
				}
			} else {
				return false;
			}
		}
	},

	methods: {
		successSlide() {
			console.log('success slide');
		},

		showSlide() {
			this.viewSlide = true;
		},

		showSaldo() {
			this.viewSlide = false;
		},

		onFocusInput() {
			this.onInputText = true;
			this.onHaveText = true;
		},

		onBlurInput() {
			this.onInputText = false;
			if (this.telpNumber.length == 0) {
				this.onHaveText = false;
			} else {
				this.onHaveText = true;
			}
		},

		clearInput() {
			this.telpNumber = '';
			this.$refs.input.focus();
			this.findProvider();
		},

		findProvider() {
			if (this.telpNumber.length > 3) {
				var number = this.telpNumber.slice(0, 4);
				var obj = this.dataProvider.find((obj, index) => {
					return obj.number.find((num) => {
						return num == number;
					});
				});
				if (obj === undefined || obj === null) {
						this.provider = 'none';
					} else {
						this.provider = obj.name;
					}
				} else {
					this.provider = 'none';
				}
			},
		}
	}
	</script>

	<style scoped>
	.pulsa {
		width: 100%;
	}

	.container-one {
		padding: 16px 16px 0 16px;
	}

	.input-container {
		border: 1px solid #ddd;
		border-radius: 5px;
	}

	.input-container .top-container {
		padding: 24px;
		display: flex;
		align-items: center;
		position: relative;
	}

	.input-container .phone-input-container {
		position: relative;
		width: 70%;
	}

	.input-container .provider-img {
		width: 30%;
		text-align: left;
		padding-left: 5px;
		position: relative;
	}

	.background-provider {
		width: 54px;
		height: 32px;
		background-image: url('../assets/icon/sprite_icon.png');
		background-repeat: no-repeat;
		background-size: 591px;
	}

	.bg-none {
		background-image: none;
	}

	.bg-Telkomsel {
		background-position: 0px 0px;
	}

	.bg-Indosat {
		background-position: -107px 0px;
	}

	.bg-Axis {
		background-position: -214px 0px;
	}

	.bg-XL {
		background-position: -266px 0px;
	}

	.bg-Three {
		background-position: -320px 0px;
	}

	.bg-Bolt {
		background-position: -374px 0px;
	}

	.bg-Smartfren {
		background-position: -429px 0px;
	}

	.provider-img p {
		font-size: 12px;
		position: absolute;
		top: -9px;
		color: #888888;
	}

	.provider-img img {
		height: 28px;
	}

	.input-container .icon-smartphone {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.input-container .input {
		width: 100%;
		border: 0;
		border-bottom: 1px solid #ddd;
		padding: 12px 0 12px 32px;
		outline: 0;
		font-size: 16px;
	}

	.input-container .input.warning {
		border-bottom: 1px solid #ff001f;
	}

	.input-container .input::-webkit-input-placeholder {
		font-size: 14px;
	}

	.input-container .input:focus::-webkit-input-placeholder {
		color: transparent;
	}

	.input-container .placeholder-top {
		font-size: 12px;
		color: #888888;
		position: absolute;
		left: 32px;
		top: -5px;
	}

	.input-container .clear-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5px;
		width: 20px;
		height: 20px;
	}

	.input-container .warning-error {
		position: absolute;
		bottom: 6px;
		font-size: 13px;
		color: #ff001f;
	}

	.bottom-container {
		display: flex;
		border-top: 1px solid #ddd;
	}

	.bottom-container div {
		width: 50%;
		background-color: #f7f7f7;
		padding: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bottom-container > div .icon {
		margin-right: 10px;
	}

	.bottom-container > div:first-child {
		border-right: 1px solid #ddd;
	}

	.bottom-container div p {
		color: #888888;
		text-align: center;
	}

	.text {
		margin: 20px 0 10px 0;
		font-weight: bold;
	}

	.paket-data-list {
		background-color: #f7f7f7;
		padding: 16px;
		height: 300px;
		overflow-y: auto;
	}

	.nominal-voucher > div {
		margin-right: 5px;
	}

	.nominal-voucher > div:last-child {
		margin-right: 0;
	}

	.checkbox {
		display: inline-block;
		position: relative;
		padding-top: 4px;
		padding-left: 35px;
		cursor: pointer;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		color: #888888;
		margin: 8px;
	}

	.checkbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 24px;
		width: 24px;
		background-color: #fff;
		border: 2px solid #ddd;
		border-radius: 3px;
	}

	.checkbox input:checked ~ .checkmark {
		background-color: #4286f5;
		border: 2px solid #4286f5;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	.checkbox input:checked ~ .checkmark:after {
		display: block;
	}

	.checkbox .checkmark:after {
		left: 7px;
		top: 2px;
		width: 5px;
		height: 11px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.slide-container {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.circle {
		width: 45px;
		height: 45px;
		background-color: #4286f5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.circle .icon {
		color: white;
	}

	.saldo-bar {
		width: 250px;
		height: 45px;
		line-height: 45px;
		background: rgb(247, 247, 247);
		border-radius: 22.5px;
		border: 1px solid #ddd;
	}

	.saldo-bar p {
		color: #a28ffd;
		font-size: 18px;
		text-align: center;
	}
	</style>

	<style>
	.drag_verify {
		border: 1px solid #ddd;
	}

	.drag_verify .dv_text {
		color: #a28ffd !important;
	}
	</style>