<template>
	<div class="pulsa">
		<div class="container-one">
			<div class="input-container">
				<div class="top-container">
					<div class="phone-input-container">
						<i v-bind:class="['icon', 'icon-electricity', {'oninput': onInputText}]"></i>
						<p v-show="onHaveText" class="placeholder-top">No. Meter / ID Pelanggan</p>
						<input type="tel" ref="input" class="input" placeholder="No. Meter / ID Pelanggan" v-model="noMeter" v-on:focus="onFocusInput()" v-on:blur="onBlurInput()">
						<img class="clear-btn" src="../assets/icon/close_circle.svg" v-on:click="clearInput()">
					</div>
					<div class="provider-img">
						<p>PLN</p>
						<div class="background-provider"></div>
					</div>
				</div>
				<div class="bottom-container">
					<p class="info">Untuk membayar Tagihan Listrik Kamu akan
					diarahkan ke Micro Apps <span>Bayar.in</span></p>
					<i class="icon icon-arrow"></i>
				</div>
			</div>
		</div>
		<div v-show="displayInfo" class="customer-info">
			<p class="name">Andara Nesta</p>
			<span class="line"></span>
			<div class="info">
				<p class="info-name">Nomor Meter</p>
				<p class="info-data">111222333</p>
			</div>
			<div class="info">
				<p class="info-name">ID Pelanggan</p>
				<p class="info-data">123456789</p>
			</div>
			<div class="info">
				<p class="info-name">Tarif / Daya</p>
				<p class="info-data">R2 / 4400 VA</p>
			</div>
		</div>
		<p class="text">Pilih Nominal</p>

		<div class="nominal-voucher">
			<div class="voucher-container">
				<BoxPulsa nominal="25.000" harga="Rp 26.000" value="1" />
				<BoxPulsa nominal="50.000" harga="Rp 45.000" hargaLama="Rp 51.000" diskon="+ Rp 19.000" value="2" />
				<BoxPulsa nominal="100.000" harga="Rp 75.000" hargaLama="Rp 98.000" diskon="+ Rp 30.000" value="3" />
			</div>
			<p>Transaksi pukul 23:00 - 00:59 akan diproses pada
			pukul 01:00</p>
		</div>
		<label class="checkbox">Simpan rekening favorit
			<input type="checkbox" checked>
			<span class="checkmark"></span>
		</label>
		<div v-show="viewSlide" class="slide-container">
			<div class="circle" v-on:click="showSaldo()">
				<i class="icon icon-topup"></i>
			</div>
			<VueDrag
				:width="250"
				:height="45"
				:background="'#f7f7f7'"
				:progressBarBg="'#f7f7f7'"
				:completedBg="'#f7f7f7'"
				:text="'Bayar'"
				:successText="'Success'"
				:handlerBg="'#a28ffd'"
				:textSize="'18px'"
				v-on:passcallback="successSlide()"
			/>
		</div>
		<div v-show="!viewSlide" class="slide-container">
			<div class="circle" v-on:click="showSlide()">
				<i class="icon icon-bill"></i>
			</div>
			<div class="saldo-bar">
				<p>Saldo Kamu Rp {{ saldoFormat }}</p>
			</div>
		</div>
	</div>
</template>

<script>
import BoxPulsa from './BoxPulsa.vue';
import VueDrag from 'vue-drag-verify';
export default {
	components: {
		'BoxPulsa': BoxPulsa,
		'VueDrag': VueDrag
	},

	data() {
		return {
			onInputText: false,
			onHaveText: false,
			saldo: 30000,
			viewSlide: true,
			provider: 'none',
			noMeter: ''
		};
	},

	computed: {
		saldoFormat() {
			return this.saldo.toLocaleString('id-ID');
		},

		displayInfo() {
			if (this.noMeter.length >= 8) {
				return true;
			} else {
				return false;
			}
		}
	},

	methods: {
		successSlide() {
			console.log('success slide');
		},

		showSlide() {
			this.viewSlide = true;
		},

		showSaldo() {
			this.viewSlide = false;
		},

		onFocusInput() {
			this.onInputText = true;
			this.onHaveText = true;
		},

		onBlurInput() {
			this.onInputText = false;
			if (this.telpNumber.length == 0) {
				this.onHaveText = false;
			} else {
				this.onHaveText = true;
			}
		},

		clearInput() {
			this.telpNumber = '';
			this.$refs.input.focus();
			this.findProvider();
		},
	}
}
</script>

<style scoped>
.pulsa {
	width: 100%;
}

.container-one {
	padding: 16px 16px 0 16px;
}

.input-container {
	border: 1px solid #ddd;
	border-radius: 5px;
}

.input-container .top-container {
	padding: 24px;
	display: flex;
	align-items: center;
}

.input-container .phone-input-container {
	position: relative;
	width: 80%;
}

.input-container .provider-img {
	width: 20%;
	text-align: left;
	padding-left: 5px;
	position: relative;
}

.background-provider {
	width: 54px;
	height: 32px;
	background-image: url('../assets/icon/sprite_icon.png');
	background-repeat: no-repeat;
	background-size: 591px;
	background-position: -482.5px 0px;
	position: relative;
	top: 7px;
}

.provider-img p {
	font-size: 12px;
	position: absolute;
	top: -9px;
	color: #888888;
}

.provider-img img {
	height: 28px;
}

.input-container .icon-electricity {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.input-container .input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ddd;
	padding: 12px 0 12px 32px;
	outline: 0;
	font-size: 16px;
}

.input-container .input::-webkit-input-placeholder {
	font-size: 14px;
}

.input-container .input:focus::-webkit-input-placeholder {
	color: transparent;
}

.input-container .placeholder-top {
	font-size: 12px;
	color: #888888;
	position: absolute;
	left: 32px;
	top: -5px;
}

.input-container .clear-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	width: 20px;
	height: 20px;
}

.bottom-container {
	border-top: 1px solid #ddd;
	padding: 12px;
	background-color: #f7f7f7;
	position: relative;
}

.bottom-container .info {
	color: #888888;
	font-size: 14px;
	padding-right: 10px;
}

.bottom-container .info span {
	font-weight: bold;
}

.bottom-container .icon-arrow {
	color: #a28ffd;
	font-size: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 14px;
}

.customer-info {
	width: 75%;
	margin: 0 auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	padding: 16px 12px;
}

.customer-info .name {
	color: #a28ffd;
	margin-bottom: 6px;
}

.customer-info .line {
	display: block;
	height: 2px;
	background-color: #dddddd;
	margin-bottom: 10px;
}

.customer-info .info {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: 8px;
}

.customer-info .info .info-name {
	color: #888888;
}

.customer-info .info .info-data {
	color: #222222;
}

.text {
	margin: 20px 0 10px 16px;
	font-weight: bold;
}

.nominal-voucher {
	background-color: #f7f7f7;
	padding: 16px;
}

.nominal-voucher .voucher-container {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.nominal-voucher p {
	margin-top: 10px;
	color: #888888;
	font-size: 14px;
}

.nominal-voucher > div {
	margin-right: 5px;
}

.nominal-voucher > div:last-child {
	margin-right: 0;
}

.checkbox {
	display: inline-block;
	position: relative;
	padding-top: 4px;
	padding-left: 35px;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: #888888;
	margin: 8px;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 3px;
}

.checkbox input:checked ~ .checkmark {
	background-color: #4286f5;
	border: 2px solid #4286f5;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox input:checked ~ .checkmark:after {
	display: block;
}

.checkbox .checkmark:after {
	left: 7px;
	top: 2px;
	width: 5px;
	height: 11px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.slide-container {
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.circle {
	width: 45px;
	height: 45px;
	background-color: #4286f5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle .icon {
	color: white;
}

.saldo-bar {
	width: 250px;
	height: 45px;
	line-height: 45px;
	background: rgb(247, 247, 247);
	border-radius: 22.5px;
	border: 1px solid #ddd;
}

.saldo-bar p {
	color: #a28ffd;
	font-size: 18px;
	text-align: center;
}
</style>

<style>
.drag_verify {
	border: 1px solid #ddd;
}

.drag_verify .dv_text {
	color: #a28ffd !important;
}
</style>