* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

#fullpage {
	background-image: linear-gradient(141deg, #4e77c4, #2e5295 9%, #f24b52);
	height: 200% !important;
}

.wrapper-content-one {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}

.container-logo {
	display: inline-block;
	background-color: white;
	border-radius: 25px;
	padding: 4px 10px 0px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0 50px;
}

.digiroin-top {
	height: 30px;
}

.nav {
	text-decoration: none;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	padding-right: 60px;
	font-size: 18px;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-grow: 1;
}

.description {
	font-family: "Montserrat", sans-serif;
	color: white;
	text-align: center;
}

.description h1 {
	font-weight: 600;
	font-size: 38px;
	margin-bottom: 10px;
}

.description p {
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 10px;
}

.show-btn {
	font-family: "Montserrat", sans-serif;
	color: white;
	font-weight: 300;
	padding: 12px 22px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.3s ease;
}

.description button:hover {
	color: black;
	background-color: white;
}

.container-pay {
	width: 90%;
	max-width: 300px;
	max-height: 700px;
}

.header {
	background-color: rgb(237, 237, 240);
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.merchant-logo {
	display: block;
	margin: auto;
	width: 80px;
	position: relative;
	top: -30px;
}

.merchant-name {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	position: relative;
	top: -30px;
	text-align: center;
}

.content {
	/*height: 350px;*/
	background-color: rgb(243, 243, 245);
	overflow: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.info {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	text-align: center;
	margin: 20px 0 5px 0;
}

.qr-code {
	display: block;
	margin: 10px auto 0 auto;
}

.line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 10px 0;
}

.rule {
	width: 100%;
}

.or {
	padding: 0 10px;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-align: center;
}

.input {
	display: block;
	width: 200px;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #d2d2d3;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.input::placeholder {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-align: center;
}

.button-pay {
	width: 200px;
	display: block;
	background-color: #5c8adf;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px auto 0 auto;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

.button-pay2 {
	font-size: 12px;
	margin: 20px auto 30px auto;
}

.footer {
	margin: 10px 0 5px 0;
}

.footer-text {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.digiroin-logo {
	display: block;
	margin: 0 auto;
	height: 20px;
}

.wrapper-content-two {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.description-2 {
	width: 30%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: white;
	box-sizing: border-box;
	padding-left: 50px;
}

.digiroin-logo-bill {
	display: block;
	margin: 0 auto;
	height: 90px;
	padding: 10px 0;
}

.share-info {
	width: 30%;
}

.icon {
	font-size: 32px;
	color: white;
}

.link-pay {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: black;
	background-color: white;
	width: 80%;
	padding: 10px;
	margin: 10px 0;
}

.copy-share {
	width: 84%;
	text-align: right;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.share-info {
	width: 30%;
}