body {
	background-color: #ecf0f3;
	box-sizing: border-box;
	padding: 24px;
}

table thead th {
	user-select: none;
}

.cursor-pointer {
	cursor: pointer;
}

.button {
	margin-bottom: 20px;
}

.hero {
	margin-bottom: 20px;
}

.status-open, .status-complete, .status-expire {
	display: block;
	padding: 5px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	text-align: center;
}

.status-open {
	background-color: rgb(78,119,196);
}

.status-complete {
	background-color: rgb(35,209,96);
}

.status-expire {
	background-color: rgb(242,75,82);
}

.hero.is-primary {
	background-color: transparent;
	background-image: linear-gradient(141deg, #4e77c4, #2e5295 9%, #f24b52);
}

.table {
	margin-bottom: 0;
}